[2019-11-15 17:37] CreateLab opened #15 "Custom controls Floating Actions"
Need to add floating action button in custom controls
![image](https://user-images.githubusercontent.com/33497292/68963303-aa0c6400-07e7-11ea-9baf-4a86448144ab.png)

[2019-11-15 17:39] CreateLab opened #16 "Custom controls CheckBox"
Need to extend from Avalonia checkbox and add classical checkbox as a custom control

![image](https://user-images.githubusercontent.com/33497292/68963472-0c656480-07e8-11ea-921e-6ad047f64952.png)

[2019-11-15 17:41] CreateLab opened #17 "Custom controls Burger menu"
Need to add burger menu as a custom control
![image](https://user-images.githubusercontent.com/33497292/68963550-36b72200-07e8-11ea-8f34-7a09668fcd78.png)

[2019-11-15 17:42] CreateLab opened #18 "Custom controls time picker"
Need to add time picker as a custom control
![image](https://user-images.githubusercontent.com/33497292/68963650-7c73ea80-07e8-11ea-954b-6e0767f2c83d.png)

[2019-11-15 17:47] CreateLab opened #19 "Remove avalonia's colors"
In some controls we use Avalonia's colors
As an example
   `<Setter Property="BorderBrush" Value="{DynamicResource ThemeBorderMidBrush}" />`
in MaterialXamlToolKit.Avalonia/ComboBox.xaml

[2019-11-15 17:49] CreateLab opened #20 "Need shadows"
Need shadows for all controls as Material idea

[2019-11-15 17:50] CreateLab opened #21 "Custom controls TextInputLayout"
Need text input layout as a custom control
![image](https://user-images.githubusercontent.com/33497292/68964141-aed21780-07e9-11ea-9130-05264485eb66.png)

[2019-11-15 17:55] CreateLab opened #22 "Recolor AutocompleteBox"

[2019-11-15 17:55] CreateLab opened #23 "Recolor DatePicker"

[2019-11-15 17:56] CreateLab opened #24 "Recolor Numeric Upd -Down"

[2019-11-15 17:57] CreateLab opened #25 "Recolor Popup host"

[2019-11-15 17:57] CreateLab opened #26 "reclor popup root"

[2019-11-15 17:58] CreateLab opened #27 "recolor separator"

[2019-11-15 17:58] CreateLab opened #28 "recolor tab strip"

[2019-11-15 17:58] CreateLab opened #29 "recolor tab strip item"

[2019-11-15 17:58] CreateLab opened #30 "recolor tooltip"

[2019-11-26 03:26] rakuten opened #32 "Request to add DataGrid style"
I just want to tell you that material.avalonia project is really great.

But I found that the style of DataGrid has not been defined yet.

https://github.com/AvaloniaUI/Avalonia/blob/master/src/Avalonia.Controls.DataGrid/Themes/Default.xaml

[2020-01-10 21:25] CreateLab opened #33 "Move to 0.9 avalonia"

[2020-01-31 12:25] #33 closed

[2020-02-11 09:32] CreateLab opened #34 "Feature frised till may"
Sorry all community of avalonia material
all development frizzed till may

[2020-10-08 12:09] #16 closed

[2020-10-08 12:09] #19 closed

[2020-10-08 12:09] #20 closed

[2020-10-08 12:09] #27 closed

[2020-10-08 12:09] #28 closed

[2020-10-08 12:09] #29 closed

[2020-10-09 14:30] CreateLab opened #37 "In tree view long animation and multyselect"
![treeview](https://user-images.githubusercontent.com/33497292/95595721-2984d080-0a55-11eb-9690-6f1220cc48de.gif)

[2020-10-09 14:32] CreateLab opened #38 "Invisible border of tooltip"
![tooltip](https://user-images.githubusercontent.com/33497292/95595898-60f37d00-0a55-11eb-8581-abd6b7ebc37a.gif)

[2020-10-09 14:32] CreateLab opened #39 "Invisible border of tooltip"
![tooltip](https://user-images.githubusercontent.com/33497292/95595922-681a8b00-0a55-11eb-896c-1ce55063af6c.gif)

[2020-10-09 14:36] #34 closed

[2020-10-09 14:39] SKProCH commented on #39
The tooltip must be wrapped in Card. Soon I will implement Card and fix the tooltip.

[2020-10-09 15:00] #38 closed

[2020-10-09 15:45] #24 closed

[2020-10-09 17:04] #15 closed

[2020-10-09 17:28] CreateLab opened #42 "Incoreect behavior in textbox"
Scroll don't focused in textbox
Mouse wheel doesen't work in textbox
![textbox](https://user-images.githubusercontent.com/33497292/95613651-f00c8f00-0a6d-11eb-8390-546c8ed639c0.gif)

[2020-10-10 16:49] #42 closed

[2020-10-10 17:05] #39 closed

[2020-10-10 17:08] #37 closed

[2020-10-16 11:23] CreateLab opened #45 "Add cards to ComboBox."

[2020-10-16 11:24] CreateLab opened #46 "Use font Roboto as default"

[2020-10-16 11:26] CreateLab opened #47 "Set backgrounds to input fields"
https://material.io/components/text-fields#input-types

[2020-10-16 11:27] CreateLab opened #48 "Add bottom navigation control"
![image](https://user-images.githubusercontent.com/33497292/96253159-c72f5100-0fbb-11eb-8325-b87caa064e5d.png)

[2020-10-16 11:29] CreateLab commented on #45
![image](https://user-images.githubusercontent.com/33497292/96253248-f2b23b80-0fbb-11eb-87aa-2773d040485c.png)

[2020-10-16 11:30] CreateLab opened #49 "Linear progress indicator"
https://kstatic.googleusercontent.com/files/b14128fc1118df8911bb9d5405a075c013d1f060e2fee2d6d78154f0d1143b41cbf1dc31d09de993bec3b18e078e8bcd4b226b245a394e70852d20d10a45f0e3

[2020-10-16 11:31] CreateLab opened #50 "Resize checkbox"
Set checkbox bigger.
![image](https://user-images.githubusercontent.com/33497292/96253414-35741380-0fbc-11eb-8c38-73f9d2151b6a.png)
https://material.io/components/selection-controls#usage

[2020-10-16 11:34] CreateLab opened #51 "Freeze ripple effect till focus doesn't lost"
After click on check element (like chekbox, radio button...) ripple effect should freeze till lost focus.
![image](https://user-images.githubusercontent.com/33497292/96253667-b3d0b580-0fbc-11eb-8b70-7c7b93164b6a.png)
Check it [here](https://material.io/components/tabs#interactive-demo)

[2020-10-16 11:35] CreateLab commented on #47
or borders. Should choose.
https://material.io/components/text-fields#usage
![image](https://user-images.githubusercontent.com/33497292/96253769-de227300-0fbc-11eb-8459-4ec35ffdd2dc.png)
![image](https://user-images.githubusercontent.com/33497292/96253783-e37fbd80-0fbc-11eb-86d1-6a39788995ca.png)

[2020-10-16 11:37] CreateLab opened #52 "Stylize ToolTip"

[2020-10-16 11:44] #49 closed

[2020-10-17 12:35] CreateLab opened #53 "Add link to this repo in demo app"

[2020-10-17 12:36] CreateLab commented on #47
done like in wpf material

[2020-10-17 12:36] #47 closed

[2020-10-17 16:07] #52 closed

[2020-10-17 18:22] SKProCH commented on #51
Fixed in 2628bc74dd8e346208280a6550c76a912398db42 6712d39ac78ea24e699d9a193f5923280684c0d9 ba8e2c9020e6037cdd760f72b46abea61f4e2cda.

[2020-10-17 18:22] #51 closed

[2020-10-17 18:41] SKProCH commented on #50
This can be done through `CheckBoxAssist.CheckBoxSize="24"`. Added sample to demo in 64b5a2600f09a64ec9c9b3e084be6ef63e717e93

[2020-10-17 18:41] #50 closed

[2020-10-24 14:33] CreateLab opened #58 "Ripple effect die"
![RippleEffectDie](https://user-images.githubusercontent.com/33497292/97084316-d0a16480-161e-11eb-8053-8e7f4e9ff051.gif)
https://github.com/CreateLab/AStalker/blob/master/Views/MainWindow.xaml#L36

[2020-10-24 15:26] #58 closed

[2020-10-27 05:34] AlienJust opened #59 "NumericUpDown arrows"
It is very hard to click (by mouse) on arrows of NumericUpDown control. Click area is very small and there is no visual feedback when mouse cursor is over the area.
![out2](https://user-images.githubusercontent.com/739189/97260968-b0042500-183f-11eb-887d-1a2a5c2da1e5.gif)

[2020-10-27 11:07] CreateLab commented on #59
![image](https://user-images.githubusercontent.com/33497292/97293466-c0c39380-185d-11eb-8ef7-2c5ce0f325c8.png)

[2020-11-11 12:03] CreateLab opened #60 "Add pointerover to combobox"

[2020-11-16 07:10] CreateLab opened #61 "Add slim scrollbar"
<ScrollBar Styles="Mini"/>
![image](https://user-images.githubusercontent.com/33497292/99222532-db04e780-27f3-11eb-9fcf-8c2f22b7e06f.png)

[2020-11-16 07:11] CreateLab opened #62 "Min Scrollbar"
`<ScrollBar Styles="Mini"/>`

<img width="57" alt="Снимок" src="https://user-images.githubusercontent.com/33497292/99222614-fc65d380-27f3-11eb-8b1a-d2c1836db4be.PNG">

[2020-11-16 07:11] #61 closed

[2020-11-16 07:13] CreateLab opened #63 "Set FloatingButton as style"
`<Button Style="Floating"/>`

[2020-11-18 10:09] CreateLab opened #64 "Add humburger menu"
Parse from diff realiastion

[2020-11-18 10:15] #64 closed

[2020-11-18 10:15] CreateLab commented on #17
https://github.com/AvaloniaUtils/material.avalonia/issues/64

[2020-11-26 21:46] Shadow4walker opened #65 "how to change font type"
is there a way to change the default font size?

[2020-11-27 21:12] #65 closed

[2020-12-14 22:24] fforjan opened #66 "0.10 RC build ?"
As the RC1 is breaking the assembly referencing due to the change to strong name, can we have a newer version of the package targetting the AVALONIA 0.10 RC1 build ?

[2020-12-14 22:25] CreateLab commented on #66
Yep, update'll be till 21.12

[2020-12-15 21:17] #66 closed

[2021-01-06 08:22] appleneko2001 commented on #62
How about this one? I implemented this ScrollBar style (vertical only)

For use this one just need add "Mini" to classes ScrollBar

![](https://user-images.githubusercontent.com/38249047/103745717-51c79f80-5043-11eb-82b5-16db890464b6.png)

[2021-01-06 08:48] appleneko2001 commented on #21
No need to create custom controls for this and filled one

I did a lot work for those widgets. Now it looks like this

![](https://user-images.githubusercontent.com/38249047/103747856-9f91d700-5046-11eb-8a35-0b869afb3cdd.png)

![](https://user-images.githubusercontent.com/38249047/103748149-057e5e80-5047-11eb-9a9d-e49dba84ab87.png)

Placeholder are animated when focus to text field or lost focusin

[2021-01-06 08:58] appleneko2001 commented on #46
I integrated Roboto fonts to library and I made them all (TextBox and TextBlock) use Roboto as default font. I dont know how about compatibility CJK texts but I think ~~should be fine~~ (sadly TextBox is not supported CJK but TextBlock are shows fine).

![](https://user-images.githubusercontent.com/38249047/103749368-c51fe000-5048-11eb-9961-837de839e3f4.png)

![](https://user-images.githubusercont

[2021-01-06 09:01] SKProCH commented on #21
@appleneko2001 can you create a pull request to us back to the repository? You have done a lot of work

[2021-01-06 09:03] SKProCH commented on #62
@appleneko2001 can you create a pull request to us back to the repository? You have done a lot of work

[2021-01-06 10:20] #17 closed

[2021-01-06 10:20] #21 closed

[2021-01-06 10:20] #45 closed

[2021-01-06 10:20] #46 closed

[2021-01-06 10:20] #53 closed

[2021-01-06 10:20] #60 closed

[2021-01-07 16:12] #62 closed

[2021-01-09 04:47] appleneko2001 commented on #32
DataGrid style are still WIP (working in progress). It looks like this now:

![](https://user-images.githubusercontent.com/38249047/104083274-a99f1a00-5280-11eb-8d3c-fa4d60ad9f46.png)

DataGrid with other controls (buttons, checkbox etc.) is still not tested. So I don't know how it looks like, but we will know later.

[2021-01-27 14:23] Junaid-Amjad opened #75 "Help required on menu and menu items"
Hi, i am recently moved from winform to wpf and i am still exploring wpf structure. I am working on the menu and face issue with the display as indicated in below gif. I tried to change the foreground color but it's display remain the same. hope you can help me sorting out this issue.
![AvaloniaMenu](https://user-images.githubusercontent.com/75033105/106004132-b58a3900-60d4-11eb-9436-095c568f0f95.

[2021-01-27 16:06] Junaid-Amjad commented on #75
Just a quick note, i added the `<FluentTheme Mode="Light"/>` in App.xaml and it worked, but style of some controls (Tab) are not applied. Is there any solution related to this mechanism.
![AvaloniaMenu2](https://user-images.githubusercontent.com/75033105/106018295-2e908d00-60e3-11eb-85a4-36d9c1d5cd72.gif)

[2021-01-28 09:40] appleneko2001 commented on #75
Our library doenst use Avalonia Fluent theme definitions so `<FluentTheme Mode="Light"/>` it will not affect to most controls, but some controls could be affected with this.

And another thing is why Popup not using Material styles, using default instead. What version of Material.Avalonia you are using now?

[2021-01-28 10:03] Junaid-Amjad commented on #75
@appleneko2001 i am using Material.Avalonia 1.0.1 and use the styles from the Material.Styles for some controls as shown in below
![AvaloniaMenu3](https://user-images.githubusercontent.com/75033105/106121867-da84b780-6179-11eb-9644-c425904d1bf4.gif)

[2021-01-28 10:39] appleneko2001 commented on #75
In your case, you want to style a few controls and apply palette to window right?

For change color palette of styled controls you need use this line to Resources. For custom colors: https://material.io/design/color/the-color-system.html#tools-for-picking-colors

`<themes:BundledTheme BaseTheme="Light" PrimaryColor="Teal" SecondaryColor="Amber"/>`

![изображение](https://user-images.githubusercont

[2021-01-28 11:15] Junaid-Amjad commented on #75
Not exactly, At first, i used all the controls of material.avalonia and add the style reference as you described above. Issue came when i used `Menu` Tag as i shared in my first message. I shared the app.xaml file for reference
![1-28-2021 4-14-02 PM](https://user-images.githubusercontent.com/75033105/106131021-f5f4c000-6183-11eb-83cd-5bc180cd2c92.png)

[2021-01-28 11:27] Junaid-Amjad commented on #75
I believe `Material.Styles/Menu.xaml` is not operational

[2021-01-28 12:01] appleneko2001 commented on #75
MenuItem are affected by opacity, can you add `Opacity="1"` to main MenuItem to make it visible?
later we'll solve this bug in next update

[2021-01-28 14:03] Junaid-Amjad commented on #75
`MenuItem` works fine when it is used without `Menu` Tag. In below image, `MenuItem` style work perfectly with `Material.Styles.Card`. When `MenuItem` is use with `Menu` Tag then it's display is corrupt even  if we add `Opacity = "1"`.
![AvaloniaMenu4](https://user-images.githubusercontent.com/75033105/106148768-475c7980-619b-11eb-9ad2-8c55cbb5caca.gif)

[2021-01-28 14:11] appleneko2001 commented on #75
I just push fixes to dev branch, can you download the dev branch and compile it yourself?

[2021-01-28 15:39] Junaid-Amjad commented on #75
After compile, result seems pretty clear. So, this feature will be available in the next update?
![AvaloniaMenu5](https://user-images.githubusercontent.com/75033105/106161334-a83e7e80-61a8-11eb-9ef1-f49bce736d6c.gif)

[2021-01-28 16:46] appleneko2001 commented on #75
yea it will be appear on next update and will improved on future update to solve this issue completely

[2021-01-29 15:33] Junaid-Amjad opened #76 "TabControl properties"
Hi, this is more like a question about TabControl. Is there any property included in TabControl where button can be added at the end of the control as indicated in the figure.
![1-29-2021 8-28-15 PM](https://user-images.githubusercontent.com/75033105/106294208-b3f57800-6270-11eb-8a67-53b0d1306579.png)
I have checked the `TabControl.xaml` but i didnot find any styling for this feature. However i us

[2021-01-30 19:53] ameliadiedrich commented on #48
If it isn't already in progress, I would like to take care of it.

[2021-01-31 04:37] appleneko2001 commented on #76
I still working on TabControl improvements and customized scroller, solution will be appeared later

[2021-01-31 04:58] appleneko2001 commented on #76
uh my oopsie not bug label, its more like a enhancement

[2021-01-31 05:22] appleneko2001 commented on #76
I created a TabControl that could scrolling in dev branch, for more information about this: https://github.com/AvaloniaUtils/material.avalonia/commit/e9db3b62ef73c7e91edab93a62c8f6e680487793#commitcomment-46561963

Can you compile dev branch again for new feature?

[2021-02-01 08:54] Junaid-Amjad commented on #76
Yes i compiled it and seems like my problem can be resolved from this feature. Now i am waiting for this feature to be added in the master branch. It tried to use the `TabControl` style in my project but it seems like there are many classes/functions/files which are not included in the `master` branch.

[2021-02-01 12:22] Junaid-Amjad opened #77 "Rectangle Size of CheckBox"
This point is related to the checkbox, now i have checked the checkbox in `master` and `dev` branch. In both of them, it is working fine. But when i use it on my project, its size is not big as seen on the documentation. Am i missing something?

![Checkbox](https://user-images.githubusercontent.com/75033105/106458014-9b27d500-64b1-11eb-880b-3b0d81464120.png)

[2021-02-02 16:27] appleneko2001 commented on #77
Can you try `assist:SelectionControlAssist.Size="24"` ? it will affect the sizes of CheckBox.

![](https://user-images.githubusercontent.com/38249047/106629063-cac40380-65bd-11eb-81ce-ddd79ca3ff62.png)

![](https://user-images.githubusercontent.com/38249047/106630046-d06e1900-65be-11eb-9952-91351ead0d00.png)

Do not forgot to add depend `xmlns:assist="clr-namespace:Material.Styles.Assists;assembly

[2021-02-02 18:19] appleneko2001 opened #78 "Improve Menu and MenuItem"
As #75 mentioned, our styles library is still have some issues on MenuItem and Menu widgets. Issues has solved in dev-branch, but still required some improvements and fixes. For example, fix padding of MenuItem in Menu widget.

[2021-02-02 18:20] appleneko2001 commented on #75
This issue will closed. Any future updates about this problem will appeared in new issue #78

[2021-02-02 18:21] #75 closed

[2021-02-02 18:31] appleneko2001 opened #79 "Improve scrollable TabControl"
As #76 mentioned, we dont have an TabControl that archived ability to scrolling. I created a "Scrollable" TabControl for solve this issue and it works now. But there is still have some problems on UX (user experiences). For example, more comfortable scrollable TabControl (Gestures, better layouts or etc.).

This issue will closed when we complete works of the enhancements for TabControl.

[2021-02-02 18:32] appleneko2001 commented on #76
This issue will be closed. Any news about this problem will appear in issue #79

[2021-02-02 18:32] #76 closed

[2021-02-03 07:51] Junaid-Amjad commented on #77
Thanks it is resolved.

[2021-02-05 14:36] appleneko2001 commented on #79
Applied commit [837d0e5d6c941ae39b3758c4f20932adc6bc14ec](https://github.com/AvaloniaUtils/material.avalonia/commit/837d0e5d6c941ae39b3758c4f20932adc6bc14ec#commitcomment-46790917) to `dev-branch`. For now scrollable TabControl can be scrolled by mouse wheel when contents width are greater than viewport width and height are less equal than viewport height.

Any suggestions for improves are allowed

[2021-02-08 07:25] appleneko2001 opened #80 "Noticed again the dots on left side of filled textfield"
This bug are solved before, but idk why it revived again. I'm planning to redesign filled textfield again to fix this issue permanently.

![изображение](https://user-images.githubusercontent.com/38249047/107187805-eac64d80-6a29-11eb-9040-d63d836510f9.png)

[2021-02-08 08:15] appleneko2001 opened #81 "Solo fields style required"
I noticed an issue is we dont have an text fields that not contains any decorations (just textbox). Currently we have classic style, filled and outline textfields style.

For example:

![изображение](https://user-images.githubusercontent.com/38249047/107192497-097c1280-6a31-11eb-9c61-2a6b3f3f600c.png)

Source: https://material.io/archive/guidelines/components/text-fields.html#text-fields-field-var

[2021-02-08 11:07] appleneko2001 commented on #80
I pushed an [commit](https://github.com/AvaloniaUtils/material.avalonia/commit/411a00b6d7885bc23f4ed92bb6d9d72903a63f50) to `dev-branch`. A long-time test is required for this widget.

[2021-02-21 18:02] appleneko2001 commented on #81
Added solo field style since https://github.com/AvaloniaUtils/material.avalonia/commit/3353c3a9d8a3e6180748fd7c90e82a2b9c26c1bc. Waiting suggestions until 15 days.

Usage: `TextBox` with `Solo` classes, and it should be in `Card` or `ColorZone` widget. Or `TextBox` with `Solo` classes but without container.

Example:
[code]
![Screenshot](https://user-images.githubusercontent.com/38249047/108633709

[2021-02-21 18:09] appleneko2001 commented on #80
Appear again after 13 days out

![](https://user-images.githubusercontent.com/38249047/108634080-488f7680-74bb-11eb-8757-8fec0026b737.png)

[2021-02-21 18:12] appleneko2001 commented on #18
TimePicker and DatePicker is on the way. TimePicker is almost ready.

[2021-02-21 18:26] appleneko2001 commented on #63
Make floating button as style of button is meanless. Since it behaviors not like button. For example, FAB can switch state (Default or Extended).

Actually, we can implement this technically if you really want, but I dont recommend do this. Maybe we should make an public polls first to know this is important or not?

[2021-03-19 11:08] MageNuada opened #83 "Broken template in TabControl"
After applying Material TabControl.ContentTemplate doesn't work at all and makes no impact on view.
It can be checked with just simple code like:

`
<TabControl Items="{Binding Items}">
 <TabControl.ContentTemplate>
   <DataTemplate>
     <TextBlock Text="Test!" Background="Red" />
   </DataTemplate>
  </TabControl.ContentTemplate>
</TabControl>
`

and in viewmodel:

`public List<string> Items { g

[2021-03-22 07:15] #83 closed

[2021-04-21 18:49] #59 closed

[2021-05-01 20:05] js6pak opened #89 "TextBox.Outline's floating watermark background is always MaterialDesignPaper"
For example try adding a TextBox into a Card
![2021-05-01_22-00](https://user-images.githubusercontent.com/35262707/116793720-e43ef380-aab7-11eb-961c-8ecb826fbd86.png)

This would be a working workaround, but seems like https://github.com/AvaloniaUI/Avalonia/issues/2098 breaks it
[code]

[2021-05-02 05:47] appleneko2001 commented on #89
I just pushed an [temporarily fix](https://github.com/AvaloniaUtils/material.avalonia/commit/0ac9caccb41ad0798ed87ab25acefde886a18ca7) for background color
You can build `dev` branch yourself if you need this fix as fast as possible.

[2021-05-02 09:17] appleneko2001 commented on #89
Ok I commited an feature that clipping the outline textfield even in transparent or colorful background. You can forgot the issue of background color should be same

![](https://user-images.githubusercontent.com/38249047/116808151-380e1300-ab72-11eb-82ed-fb02a4672f49.gif)

[2021-05-03 09:02] #89 closed

[2021-05-05 21:48] appleneko2001 commented on #18
Both pickers are ready for use! DatePicker will appear in next update.
Unfortunately, the DatePicker lacks on `Calendar` control, it works not like I expected. We need to remaster it in future updates.

TimePicker
![](https://user-images.githubusercontent.com/38249047/117213592-c9ada700-ae36-11eb-8621-fb96af429aa0.png)

DatePicker
![](https://user-images.githubusercontent.com/38249047/117213662-df

[2021-05-18 16:19] appleneko2001 commented on #81
Looks everything is fine. I close this issue now.

[2021-05-18 16:19] #81 closed

[2021-05-25 15:39] aboimpinto opened #91 "Circle ProgressBar"
I picked the demo project and add the class "Circle" to the ProgressBar and I see no changes in the layout

![image](https://user-images.githubusercontent.com/1231687/119526822-04dd2f00-bd80-11eb-949f-2f44dae99d25.png)

and the result
![image](https://user-images.githubusercontent.com/1231687/119526882-14f50e80-bd80-11eb-9539-e90b87ff2d22.png)

why the correct style is not being loaded?

[2021-05-26 13:01] SKProCH commented on #91
@aboimpinto The demo project looks different now. Are you sure you pulled the master branch?

[2021-05-27 23:42] aboimpinto commented on #91
I think I have an old version of that ... I will check with the new version

[2021-05-31 14:10] SKProCH commented on #91
It looks like the issue has been resolved. If not, feel free to reopen issue.

[2021-05-31 14:10] #91 closed

[2021-06-08 04:25] #79 closed

[2021-06-27 17:28] Alocin1982 opened #92 "Dialogs Rendering, WindowStartupLocation.CenterOwner and arm-linux"
Hi everybody!
First of all, thank you all for the great Job!
I've some questions and concerns about  WindowStartupLocation.CenterOwner on arm-linux (Raspbian, in this case) and the difference between rendering of Window (and Dialogs) on Windows 10 and Raspbian.
This is my situation:
1. the UserControl generate a new Window ( WindowStartupLocation.CenterOwner ) and lunch it.
2. the Window contains

[2021-07-11 14:36] unofficialdev opened #93 "Floating Button is hidden when setting IsEnabled="False"?"
Floating Button is hidden when setting IsEnabled="False"?

[2021-07-14 07:38] unofficialdev opened #94 "Can add example for DialogHost?"
Can add example for DialogHost?

[2021-07-14 09:01] SKProCH commented on #94
Yes, I will try to do it soon.
For now, you can look at the documentation and demo application here:
https://github.com/AvaloniaUtils/DialogHost.Avalonia

[2021-07-14 09:06] SKProCH commented on #92
Seems like this is an Avalonia issue.
Please open another issue at Avalonia repo: https://github.com/AvaloniaUI/Avalonia/issues

[2021-07-14 09:11] SKProCH commented on #93
I will try to take the time and investigate it soon.

[2021-07-14 09:13] #92 closed

[2021-07-14 12:17] CreateLab commented on #93
Try to check

[2021-07-15 16:53] furesoft opened #95 "Circular Context Menu"
Could you please implement a circular context menu?

[2021-07-16 16:55] wberdowski opened #96 "How to set shadow depth?"
Hello. I'm trying to set a shadow depth of a card in xaml, but so far with no luck. Is it even possible? Thanks in advance.

[2021-07-17 18:53] SKProCH commented on #96
Hello, @wberdowski
Yes, it is possible. Just set `ShadowAssist.ShadowDepth` for Card.
For example:
[code]
will look like this:
![image](https://user-images.githubusercontent.com/29896317/126046941-ee44345d-89f5-4c7e-9669-65611d4a13e0.png)

[2021-07-17 18:53] #96 closed

[2021-07-17 19:02] SKProCH commented on #95
Hello, @furesoft
Our library tries to follow to the [Google Material Design style](https://material.io/). As far as I know, there is no circular context menu.
Maybe I misunderstand you? If you provided screenshots and how it works, what would you like it would be better.

[2021-07-19 10:36] matthewstrasiotto commented on #78
At the moment, all of my MenuItem's Click events seem to be consumed by PART_HeaderPresenter. Running 2.2.0

[2021-07-26 17:41] wberdowski opened #97 "Datagrid scrollbar style"
Hello. I was wondering is there a way to change datagrid scrollbar style to classic (as seen in scrollviewer demo), and remove the remaining space between scrollbar and right border of the datagrid?

![image](https://user-images.githubusercontent.com/10144015/127032926-607c1c58-3721-4804-97c4-c353b827a782.png)

[2021-07-27 11:30] wberdowski opened #98 "Floating label for filled ComboBox and outlined style implementation request"
Please add floating label for filled ComboBox and outlined style if possible.

![image](https://user-images.githubusercontent.com/10144015/127146164-5010c968-59b2-4abe-990b-496c9d1fedc3.png)
![image](https://user-images.githubusercontent.com/10144015/127146205-edc69dfd-838e-484a-9067-682fa7256283.png)

[2021-08-01 12:37] SKProCH commented on #97
Hello, @wberdowski
There is currently no way to bring back the classic scrollbar style, but I will add it.
As for the empty space on the left, I think this is a bug. I will try to fix it soon.

[2021-08-01 17:07] #97 closed

[2021-08-01 17:07] #93 closed

[2021-08-11 15:08] Tenjim opened #101 "PopupBox Implementation"
Hi guys,

Just a question, do you have any implementations of PopupBox  from Material Design ?
I'm using it and I wanna to know if there is any implementations ingoing for material.avalonia ?

Thanks in advance.

[2021-08-12 09:25] SKProCH commented on #101
Hello, @Tenjim

If I understand you correctly, then what you want is implemented in [DialogHost.Avalonia](https://github.com/AvaloniaUtils/DialogHost.Avalonia):
![previewGif](https://github.com/AvaloniaUtils/DialogHost.Avalonia/raw/main/wiki/images/preview.gif)

Soon I think I'll be integrating this package into Material.Design, but for now it can be delivered and used separately.

Does this solve

[2021-08-12 10:24] Tenjim commented on #101
Hi @SKProCH,

It's a button that open a content with others controls in it.
It's not a other window poping like DialogHost.

![PopupBox](https://user-images.githubusercontent.com/11456289/129181267-a2c83756-9cde-4594-a3f6-0f2802e3730e.JPG)

[2021-08-12 11:31] SKProCH commented on #101
@Tenjim, you can use, for example,  `ToggleButton` and `Popup` control like this:
[code]
![Popup + ToggleButton](https://user-images.githubusercontent.com/29896317/129189696-e978a19f-8480-4f60-bb90-efbdb40d3f43.gif)

[2021-08-12 11:59] Tenjim commented on #101
@SKProCH , Thank ! I'll try it to check if it complete my need :)

[2021-08-13 07:51] Tenjim commented on #101
Hi @SKProCH,

Just to clarify what we need. It's a control to MaterialDesignInXamlToolkit. https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/PopupBox

[2021-08-13 08:32] SKProCH commented on #101
@Tenjim, We don't have one out of the box at the moment.

We will try to implement this control as early as possible, but I do not know when it will be, because the main team of contributors is currently busy at work.
If you want, then you can implement this (or something else) by yourself and create a PR. They are warmly welcomed.

[2021-08-14 17:52] SKProCH commented on #101
@Tenjim, seems like this is already implemented via `Menu` control:
![Анимация](https://user-images.githubusercontent.com/29896317/129456044-a34c94f3-361b-4a33-ae74-314a054872d5.gif)
Is this what you were looking for?

[2021-08-16 11:27] ctrl-alt-d opened #103 "ListBoxItem (that opens a dialog) remains grayed"
I have a simple ListBox with ListBoxItems.

When I click on a menu on ListBoxItem, the row remains grayed until I click again on it:

![listboxitem](https://user-images.githubusercontent.com/3105983/129556469-3f00d93c-9ef5-45c4-818a-9dffa84e5918.gif)

How can I fix it? Thanks!

[2021-08-16 13:04] Tenjim commented on #101
@SKProCH, not really because I want to put an usercontrol on the popup content like your first example.

I want to put a usercontrol which have many Buttons/ ComboBox/ CheckBox/...  like  into the Card

[2021-08-16 14:14] SKProCH commented on #103
Hello, @ctrl-alt-d

Seems like this dark background is a selection in `ListBox`.
There is 2 solutions:
1. Considering that you do not need a selection, it would be more correct to use an `ItemsRepeater` instead of `ListBox`
2. Add following style to your `Styles` of your `ListBox`:
[code]

Does this resolve your problem?

[2021-08-16 14:51] ctrl-alt-d commented on #103
Hi Mr @SKProCH ,

thanks a lot about your fast reply and suggestions.

1. I can switch to `ItemControl` ( neither `ItemRepeater` ) because performance degrades rapidly without virtual scrolling.
2. I tried to apply style but nothing happens. I guess is related to click outside of bounds of control, all runs fine if I replace menu with a button.

Thanks again, all comments are welcome!

[2021-08-16 19:03] SKProCH commented on #103
@ctrl-alt-d,

As i know `ItemsRepeater` supports (and designed to work with) virtualization. At least i can display ~6000 icons with labels with perfect performance. But in principle there is not much difference, just the problem is that if you do not need to select items, then you do not need a `ListBox`.

If replacing the `ListBox` solves the problem, then I believe the problem is resolved. If n

[2021-08-16 20:55] ctrl-alt-d commented on #103
@SKProCH , Thanks again for your support. As a workaround, I replaced the menu by a button and now all runs fine.

Also, I tried to replace `ListBox` by an `ItemsPresenter`. But, [I don't know why, but `ListBox` is faster.](https://github.com/AvaloniaUI/Avalonia/discussions/6427#discussioncomment-1192093)

Thanks again about your comments, I really appreciate! :heart:

[2021-08-17 08:06] SKProCH commented on #103
I'll close issue, feel free to reopen it if you have additional questions.

[2021-08-17 08:06] #103 closed

[2021-08-17 09:39] Tenjim commented on #101
Hi @SKProCH,

Finally, I have done a workaround with your advice (Togglebutton with popup) :
[code]

Tenjim

[2021-08-18 17:19] ctrl-alt-d opened #104 "How to add the DatePicker?"
Hi People,

this is the first time I need a DatePicker on my app. [I try to add it unsuccessfully](https://github.com/AvaloniaUI/Avalonia/discussions/6440). Digging on Demo I see they are not DatePickers, just a custom date picker dialog.

The question is, how can I add a single DatePicker on my app?

Sorry about this noob question :raised_hands:

Thanks and best regards.

[2021-08-18 17:47] CreateLab commented on #104
It's a bug. We try to fix it as fast as we may. But it may take more than a month. If u may send pr with fix, if u may. thx

[2021-08-18 17:53] SKProCH commented on #104
Hello, @ctrl-alt-d

Hmm, seems like @appleneko2001 hasn't finished this yet.
We should fix it, but, most of us don't have time because of work.
As a workaround consider using `TextBlock` for displaying selected date and button that trigger `DatePickerDialog` to select date.
We apologize for this, I will try to find time to fix it asap.

[2021-08-18 18:16] ctrl-alt-d commented on #104
Thanks @CreateLab and @SKProCH about your fast replies.

@CreateLab, I haven't skills to fix it in a short, just dealing with controls itself, MVVM, reactiveUI, etc. I understand what you mean. Unfortunately, I can't collaborate in this way at this time.

Thanks guys, awesome repo!

[2021-08-21 19:52] MarioGK opened #105 "Add Demo App to the releases"
Could we add an automated build for the demo App and auto include it on the releases here on Github?
I can work on it, i just want to check if you have any specific CI tool in mind, there are a bunch that are free for open source projects, choose one and i will try to make the pipeline for it.

Thanks for the great project i hope i can help out even if it is a little.

[2021-08-21 19:55] MarioGK opened #106 "Add an example on how to change the theme programmatically."
Hi could you add to the wiki an example on how to change the theme programmatically?

[2021-08-24 14:15] furesoft opened #107 "ContextFlyout Button does not work"
If I use default Button it works fine. If I use classes Flat it does not appear

[2021-08-24 14:16] #95 closed

[2021-08-29 12:07] SKProCH commented on #107
Hello, @furesoft

I've implemented Flyouts support.

You can [install and use](https://github.com/AvaloniaCommunity/Material.Avalonia/wiki/Using-nightly-build-feed) latest nightly version [nuget](https://github.com/AvaloniaCommunity/Material.Avalonia/packages/572265) or wait until stable version of package has been released on Nuget feed.

[2021-08-29 12:18] Al-Dyachkov opened #108 "Incorrect TreeView scrollviewer behavior with Windows UI scaling on"
Following code produces visible scrollbars with ui scaling on and no visible scrollbars with ui scaling off
Vanilla Avalonia behaves as expected, no visible scrollbars
Avalonia 10.7, Material.Avalonia 2.3.0

Video to see differences : https://www.youtube.com/watch?v=ZAbxUv-H2bg
Right part is a screen with 125% scaling, left part is 100% scaling

Code to reproduce : just create blank avalonia proje

[2021-08-29 17:33] SKProCH commented on #106
Hello, @MarioGK

I add new ["Advanced Theming" wiki page](https://github.com/AvaloniaCommunity/Material.Avalonia/wiki/Advanced-Theming).

[2021-08-29 17:33] #106 closed

[2021-08-30 17:00] furesoft opened #109 "ContextMenu show unexpected background"
If I use a ContextMenu in a ListboxItem the ContextMenu is always darkgray. Content not Readable should be white

[2021-08-31 10:18] appleneko2001 commented on #109
Hello, Can you provide the version of Material.Avalonia Library that you are using now?  Thanks!

[2021-08-31 10:38] furesoft commented on #109
2.3.0

[2021-09-05 09:52] appleneko2001 commented on #109
I found the reason of this bug happens. There was an `<Setter Property="Padding" Value="1"/>` in TreeView.xaml. I replaced this with value 0 and this bug disappears. I think there could be problem with accuracy of layout calculations of avalonia.
Anyway, this issue has fixed with tricky way, and fix has applied to next nightly version.

Demo:

https://user-images.githubusercontent.com/38249047/132

[2021-09-05 10:00] appleneko2001 commented on #109
I just did an mistake. But dont worry! I'm working for this now.

[2021-09-05 10:04] appleneko2001 commented on #108
Try this one! I just pushed an temporarily fixes for this. The reason of this bug happens because there was an style setter `<Setter Property="Padding" Value="1" />` in TreeView.xaml. So I replaced the value with 0, and this bug disappears.

https://github.com/AvaloniaCommunity/Material.Avalonia/actions/runs/1202807356

https://user-images.githubusercontent.com/38249047/132122899-512045e6-75c2-465

[2021-09-05 10:27] appleneko2001 commented on #109
I just pushed an fix to fix this. There was an broken select highlighter behaviour in `MenuItem` and it becomes dark when you adding `MenuItem` in `ListBoxItem`.

Nightly builds with fix:
https://github.com/AvaloniaCommunity/Material.Avalonia/actions/runs/1202885497

[2021-09-05 13:40] furesoft commented on #109
when do you publish in to the normal nuget feed?

[2021-09-05 13:44] appleneko2001 commented on #109
This question should be answered by @SKProCH
Because I'm not working for shipping releases. But we will shipping packages after some major changes, or a lot minor fixes.

[2021-09-05 14:27] SKProCH commented on #109
Hello, @furesoft

You can [use our nightly builds](https://github.com/AvaloniaCommunity/Material.Avalonia/wiki/Using-nightly-build-feed) feed until we release next release version.

Is this suitable for you?

[2021-09-05 14:32] furesoft commented on #109
because my product is close to the first release I don't want to use nightly builds

[2021-09-05 15:52] SKProCH opened #110 "Move nightly builds to nuget.org feed"
Currently nightly builds published at GitHub Packages.
The problem is that you [cannot download packages without authorization](https://github.community/t/download-from-github-package-registry-without-authentication/14407) using GitHub Packages.
Therefore, it is necessary to transfer the nightly assemblies to the Nuget.

[2021-09-05 16:31] #107 closed

[2021-09-05 16:40] SKProCH commented on #109
New package [v2.3.1](https://www.nuget.org/packages/Material.Avalonia/2.3.1) released.

[2021-09-05 16:40] #109 closed

[2021-09-05 16:52] appleneko2001 commented on #108
The fixes has shipped to v2.3.1
Please check it out! https://www.nuget.org/packages/Material.Avalonia/2.3.1

[2021-09-06 11:30] davidvanelk opened #112 "Unable to integrate version 2.3.1 into existing application"
When integrating Material.Avalonia@2.3.1 into my App.axaml, a `TargetInvocationException` is thrown when using the Application.Styles-based approach of README.md:

[code]

Runtime exception thrown on Startup:

[code]

After Downgrading to Material.Avalonia@2.3.0 everything works as expected.

Following some relevant NuGet-Packages that are included into my project:

[code]

[2021-09-06 13:03] appleneko2001 commented on #112
Hello! This problem is related with FlyoutPresenter's CornerRadius setter. To make it works, we have to update AvaloniaUI package to latest (0.10.7) version for our package (sounds weird right?).
So I updated Material.Avalonia library to this version, and everything starts working again.
For now, I submitted an fixes for this on `dev-branch` and the fix is available on nightly builds!

PS: why we

[2021-09-20 13:30] SKProCH commented on #108
This issue has been resolved. If not, feel free to reopen.

[2021-09-20 13:30] #108 closed

[2021-09-26 20:29] #18 closed

[2021-09-28 19:29] #104 closed

[2021-09-28 19:29] #110 closed

[2021-09-28 19:29] #112 closed

[2021-10-07 21:48] Al-Dyachkov opened #114 "Invalid brush type in ripple effect"
[Binding] Error in binding to 'Material.Ripple.RippleEffect'.'RippleFill': 'Unable to convert object 'Black' of type 'Avalonia.Media.Immutable.ImmutableSolidColorBrush' to type 'Avalonia.Media.Brush'.'
[Binding] Binding produced invalid value for 'RippleFill' ('Avalonia.Media.Brush'): 'Black' ('Avalonia.Media.Immutable.ImmutableSolidColorBrush')(RippleEffect #38221738)

Lots of these popping up in

[2021-10-18 10:04] boexler opened #117 "Call from invalid thread"
I have imported your SnackBar into my application and when hovering over the menu items, I get the following unhandled exception.

[code]

[2021-10-18 13:17] appleneko2001 commented on #117
And another thing is ... This issue doesn't related with `SnackBar`! 😅

[2021-10-18 13:36] #117 closed, assigned to appleneko2001

[2021-10-19 06:52] boexler opened #118 "Question: Cast TransitioningContentControl to ContentControl removes transitioning"
I don't know if this is a bug, but if I cast the `TransitioningContentControl` to `ContentControl`, it removes the transitioning effect.

[code]

[2021-10-19 08:15] #118 closed, assigned to nobody

[2021-10-19 12:53] dojo90 opened #119 "MenuItem.DataTemplates brakes default template/style"
When using a `DataTemplate` for the `MenuItem` to dynamically create the `Menu`, the default style seems to be broken

![grafik](https://user-images.githubusercontent.com/17551597/137912294-b06cc9ab-a5c6-46f3-bd53-ec06e7b83fbc.png)

[code]

![grafik](https://user-images.githubusercontent.com/17551597/137912671-6a64dac3-07e3-47f7-b279-20316bc5f907.png)

while using the default xaml definition from

[2021-11-04 09:51] #80 closed

[2021-11-04 09:53] appleneko2001 commented on #98
Sorry for a long waits!
I added outlined combo box style from scratch
![image](https://user-images.githubusercontent.com/38249047/140293387-a7d0746d-e13f-4bd3-a966-aabdf7074757.png)
![image](https://user-images.githubusercontent.com/38249047/140293418-4cd3e0ab-4454-42b2-88ee-52225cd30a07.png)
![image](https://user-images.githubusercontent.com/38249047/140293445-fee3156a-b5c9-4d59-9bb4-cea20104c2a4

[2021-11-07 20:19] SKProCH commented on #119
Hello, @dojo90

Sorry for long answer.
I figured out whats wrong with this situation. Actually MenuItem.DataTemplate sets template for MenuItem header, nor for all MenuItem content.
So, when you apply your style you get MenuItems inside of your MenuItem.
![image](https://user-images.githubusercontent.com/29896317/140660582-9d445813-a136-4b22-87fa-2df02d923f76.png)
So, spaces at left this is space

[2021-11-07 20:22] SKProCH commented on #94
I've added some of examples to demo app in f7469d96c75dae812b382fcff7d714500321a24b and finally add [DialogHost.Avalonia](https://github.com/AvaloniaUtils/DialogHost.Avalonia) to project

[2021-11-07 20:24] SKProCH commented on #63
Closing since floating buttons are implemented via [FloatingButton control](https://github.com/AvaloniaCommunity/Material.Avalonia/blob/dev/Material.Styles/FloatingButton.xaml)

[2021-11-07 20:24] #63 closed

[2021-11-08 09:03] dojo90 commented on #119
Thanks for the hint, I have now been able to solve the problem by creating the MenuItems in the code behind. 👍

<details>
  <summary>Code</summary>

[code]

</details>

If I can only define the header with the DataTemplate, what is it intended for or what do I need the DataTemplate for?

Unfortunately I cannot reopen the issue.

[2021-11-08 16:25] SKProCH commented on #119
Okay, I'm glad you were able to solve your problem.

I don't know what is the purpose of using DataTemplate for Header. Perhaps Header is supposed to be more than just a string as content, depending on the type of the object for example.
But, at least it works in the same way in Avalonia itself, conceptually we have not changed anything.
Avalonia MenuItem [style](https://github.com/AvaloniaUI/Aval

[2021-11-11 12:19] flarive opened #120 "How can I override MaterialDesignDarkBackground in my app ?"
Hello,

I would like to use the Material Dark theme with a darker background color.
Is there a way to override the default value of MaterialDesignDarkBackground SolidColorBrush please ?

Thanks a lot !

Eviral

[2021-11-11 20:42] SKProCH commented on #120
Hello, @flarive

I took a quick look and found a solution. Edit your `App.axaml` file, Application.Resources section, so it will looks like:
[code]
And, if you want to change background color (eg. window background) you need to change `MaterialDesignPaper` key.

[2021-11-11 20:44] SKProCH commented on #120
Also, this solution will work only for initial theme (which been set in BundledTheme component). If you change theme in runtime (via PaletteHelper) your changes will be overwritten.
I will continue to investigate this situation, but due to the fact that my main time is spent on work, this can be a long time.

[2021-11-12 07:29] flarive commented on #120
Hi, thanks a lot for your answer...
I have tried, but it does'n't work...
I have tried to replace your Color: with SolidColorBrush: because MaterialDesignDarkBackground is a brush and not a color in your code, but it doesn't work...
Your built in style in not overrided by the app.xaml style.

<Application.Resources>
		<ResourceDictionary>
			<locators:ViewModelLocator x:Key="ViewModelLocator"/>

[2021-11-12 09:37] SKProCH commented on #120
Hmm, i figured it out, @flarive
If you want to change any of this brushes:
![image](https://user-images.githubusercontent.com/29896317/141445074-3f142665-1316-49d0-b90c-cfe76ef2963a.png)
You need to add something like this in your Application.Styles section:
[code]
So, it will looks like this:
![image](https://user-images.githubusercontent.com/29896317/141445224-4d8ab2c2-88b7-4d1b-952d-91586b320ed

[2021-11-12 15:10] flarive commented on #120
Argg...
Sorry but it still doesn't work, nothing is overrided.

`<Application xmlns="https://github.com/avaloniaui"
             xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
             xmlns:locators="using:MaterialLogReader.Locators"
			 xmlns:themes="clr-namespace:Material.Styles.Themes;assembly=Material.Styles"
			 xmlns:assists="clr-namespace:Material.Styles.Assists;assembly=Materi

[2021-11-12 18:09] Maruhl opened #121 "How use DialogHelper.CreateCustomDialog ?"
I create the CustomDialogBuilderParams with a method that looks like this:

[code]

The result:
![grafik](https://user-images.githubusercontent.com/41585619/141513973-9eeacab7-7aab-4271-ab75-b155540de8c1.png)

The custom dialog system seems to completely ignore the logic of the Avalonia ViewLocator (IDataTemplate).

How can i achieve this?

[2021-11-12 19:11] SKProCH commented on #120
Hmm, if i drop your app.xaml content to demo app (excluding some styles that non exists in demo app) and i setup explicit bind to MaterialDesignDarkBackground i will get red color:
![image](https://user-images.githubusercontent.com/29896317/141519796-10b5cf4e-9473-4ee6-9463-9c9f0a26d356.png)
![image](https://user-images.githubusercontent.com/29896317/141519851-48c4b6a9-4a71-4f36-993f-508850247f6e.

[2021-11-12 19:53] SKProCH commented on #121
Hello, @Maruhl

In 5fe712b i replace `ContentControl` with `ContentPresenter` in custom dialogs. `ContentPresenter` allows to use ViewLocator which defined like this in your `App.xaml`:
[code]

You can try in by installing [2.4.1.26-nightly](https://www.nuget.org/packages/Material.Avalonia/2.4.1.26-nightly) package version.

Does this solve your problem?

[2021-11-13 10:36] Maruhl commented on #121
Thanks for the fast reply. I tested my app with the 2.4.26-nightly package and it doesn't work.
After that, i forked this branch, to implement the custom dialog test - and it works.

But why not in my app? Mh, very strange, there is not special things. The app runs in .Net 6.0 - but i think that is not the problem. I'll have to see what the problem is.

[2021-11-13 10:36] #121 closed

[2021-11-13 10:40] SKProCH commented on #121
@Maruhl

You should place breakpoint in `Build` method of your ViewLocator and see which values come to this method.

Note: for default implementation of ViewLocator your view must be named properly: for example, for Avalonia.NETCoreMVVMApp.**ViewModel**s.MainWindow**ViewModel** view should be Avalonia.NETCoreMVVMApp.**View**s.MainWindow**View**

[2021-11-13 10:48] flarive commented on #120
Yes ! It works now with
`<ResourceDictionary>
    <SolidColorBrush x:Key="MaterialDesignPaper" Color="Red"/>
</ResourceDictionary>`

I'm using PaletteHelper to let user choose between dark and light theme 👍

`        private void ApplyMaterialUIDarkTheme()
        {
            var theme = PaletteHelper.GetTheme();
            theme.SetPrimaryColor(SwatchHelper.Lookup[MaterialColor.Blue200]);

[2021-11-13 11:19] Maruhl commented on #121
Yes i know, the whole app works with this behavior. I debug the Avalonia ContentPresenter, to find out why the ViewLocator not used.
This is the normal Behavior:

![grafik](https://user-images.githubusercontent.com/41585619/141634923-3ad788e2-4d1b-4ce2-ba68-297d61b1818d.png)

But if i invoke the DialogProvider then is the result by "FindDataTemple" another thing:

![grafik](https://user-images.git

[2021-11-13 11:46] Maruhl commented on #121
Mkay... my fail. ViewLocator is used, but i forgot to extend the Match-Method. OMG!
Sorry for the inconvenience, I can't see the forest for the trees.

[2021-11-13 11:58] SKProCH commented on #120
So far, this is not possible for technical reasons. I am currently looking for a way to fix this.

[2021-11-13 12:49] flarive commented on #120
Great !
Why don't you just let the developer customize the dark background color and the light background color with 2 new properties in :
<themes:BundledTheme BaseTheme="Dark" PrimaryColor="Blue" SecondaryColor="Amber"/>
?

[2021-11-13 16:42] SKProCH commented on #120
I fixed this bug in 25b8940. You can try it in [2.4.1.27-nightly](https://www.nuget.org/packages/Material.Avalonia/2.4.1.27-nightly) package version.
[code]

Also i add more complex theme settings later.

[2021-11-13 16:51] Sabuto commented on #105
I can have a look at this, it's pretty easy to do but the only way i know of how to do it is following github flow i.e you create a branch for a change fature/add-something bug/fixed-something etc and then the release builder will add each merge to the changelog?

[2021-11-13 19:48] flarive commented on #120
Thanks a lot, it works, when i change to dark theme at runtime my custom MaterialDesignPaper remains but it also remains when i apply light theme at runtime :(
I have no light theme anymore because MaterialDesignPaper always override everything.
So sorry...

[2021-11-13 19:56] SKProCH commented on #120
Hmm, you can set your color in Theme before applying it via `PaletteHelper.SetTheme(theme);`.
But you should call theme applying at startup to change default color to your color

[2021-11-13 21:19] flarive commented on #120
Yes, it works !

`private void ApplyTheme()
        {
            object? paperColorBrush = null;
            App.Current.Resources.MergedDictionaries[1].TryGetResource("MaterialDesignPaper", out paperColorBrush);

            if (UseDarkTheme)
            {
                ApplyMaterialUIDarkTheme();

                if (paperColorBrush is SolidColorBrush)
                {
                    ((

[2021-11-14 08:10] SKProCH commented on #120
@flarive, actually you can simplify code just by editing ApplyMaterialUILightTheme and ApplyMaterialUIDarkTheme:
[code]

[2021-11-14 14:34] #120 closed

[2021-11-14 14:34] #119 closed

[2021-11-14 15:14] SKProCH commented on #105
Hello, @Sabuto
Now we adhere to a simple policy that in master - releases, in dev - changes that are ready for work but not yet formed into release. In fact, we now have a GitHub Flow, but with the difference that some changes that are not long in development (such as small changes) are implemented directly in dev without creating an additional branch. We also have a master branch that serves to s

[2021-11-14 15:59] Sabuto commented on #105
I'll take a look around :) just thinking seeing as you build locally? or atleast add the changelog locally is github actions concrete? or would you consider looking at nukebuild?

[2021-11-14 16:35] SKProCH commented on #105
I don't understand the questions a bit

I don't mind using nukebuild, unless it complicates things a lot.

[2021-11-14 19:19] Sabuto commented on #105
Sorry I may have worded it very badly, but you answered it in the second part anyway :)

[2021-11-17 12:27] dojo90 opened #122 "How to use custom theme"
I'm currently trying to adapt the `MaterialDesign` to the corporate design of our company:

| Description | RGB | Hex |
| ----- | ----- | ----- |
| accent | 255 105 0 | #FF6900 |
| primary | 56 62 66 | #383e42 |
| seconday | 208 208 208 | #D0D0D0 |

For this purpose I created the `HaprotecCorporateDesignTheme` class to specifically adjust the colors.

In both dark and light mode, I miss the accent

[2021-11-17 20:56] SKProCH commented on #122
Hello, @dojo90

As far as I understand, you have 2 problems:
- the text color of the TextBox does not change when you set the background color to white
This is not a problem, I will explain why. The current design implementation puts the appropriate colors (the text color will match the background color, etc.) and that's it. We don't do anything else. We do not monitor the background color of the

[2021-11-18 17:40] wieslawsoltes opened #123 "Add Label control template"
It pretty simple template:
https://github.com/AvaloniaUI/Avalonia/blob/master/src/Avalonia.Themes.Default/Label.xaml
[code]

https://github.com/AvaloniaUI/Avalonia/blob/master/src/Avalonia.Themes.Fluent/Controls/Label.xaml
[code]

[2021-11-19 13:05] Al-Dyachkov opened #124 "Show password button is not visible until clicked"
Issue is reproduced in material.demo

![image](https://user-images.githubusercontent.com/10960735/142627351-6a0a74d4-fcdf-4c91-9bf2-bb349bacf693.png)

[2021-11-19 13:06] Al-Dyachkov commented on #114
Everything looks good now, can be closed

[2021-11-19 13:07] #114 closed

[2021-11-26 10:18] dojo90 commented on #122
Thank you for your feedback. I will adapt my application accordingly.

However, you write that the accent color would be used for buttons. Apart from the toggle button, I have not yet been able to find any other implementation.
If I understand the following page correctly (https://material.angular.io/components/button/overview), I have to explicitly define a button as in accent color. Hover and cl

[2021-11-26 10:23] dojo90 opened #125 "Progressbar Width not scaleable < 200px"
It seems that the default width of the `ProgressBar` is `200px`. I need to have it smaller than `200px` in my application, unfortunately this cannot be adjusted.

[code]

![grafik](https://user-images.githubusercontent.com/17551597/143565739-0b2b6c7f-a0aa-4757-a3ed-5095e8284db7.png)

[2021-11-27 19:16] SKProCH commented on #122
You can use `Accent` class:
[code]
![DatePicker](https://user-images.githubusercontent.com/29896317/143719399-3de8a082-d25a-4c55-9377-6f37e2951488.gif)

Also you can open our demo project to look out for all available controls

[2021-11-27 19:30] SKProCH commented on #125
Seems like its not a bug, its just you color palette progress bars.

Here is gif with changing progressbar width and showing results it previewer (yes, previewer is kinda buggy, so when you dont see circular progress bars animation - so here previewer is freezed):
![ProgressBars](https://user-images.githubusercontent.com/29896317/143719722-72044f3b-75ef-4a4f-aaa6-31ea6dfc7242.gif)

[2021-11-28 06:38] appleneko2001 commented on #124
Sorry for taking a long times to fix issues!
The reveal password button should be usable for now, and it will be visible even the field is empty!

[2021-11-28 14:09] Al-Dyachkov commented on #124
No problem. Thanks for maintaining the project.

Everything looks good now, closing the issue.

[2021-11-28 14:09] #124 closed

[2021-11-28 18:18] #123 closed

[2021-11-28 18:18] #98 closed

[2021-11-28 18:18] #94 closed

[2021-11-29 09:37] dojo90 commented on #125
I found the problem and it seems to be due to the styles involved.

Here is my `App.axaml`:

[code]

As described in your README ... the original styles should be included beforehand:

![grafik](https://user-images.githubusercontent.com/17551597/143842917-dfb694e6-6256-4419-a37b-552285f012e1.png)

If I comment out the following line:
[code]

The `ProgressBar` works as expected:

![grafik](https://

[2021-11-30 08:37] dojo90 commented on #122
I think you answered my question or it cleared itself up.

First of all, I would like to say that my `HaprotecCorporateDesignTheme` class works so far, in case someone else needs custom colors.

My problem why I (wrongly) opened the issue at all:

The dark background color (in dark mode) and my primary color of the company are almost identical. As a result, I asked myself why the bright accent col

[2021-12-01 18:43] SKProCH commented on #122
As i know material design isn't supposed to use primary/secondary colors which almost the same as background color. I can't explain it in another way.

[2021-12-05 13:33] flarive opened #127 "Material.Icons dll is so huge (5,7Mo)"
Hi,

You're using a dependency to Material.Icons from this repo :
https://github.com/SKProCH/Material.Icons/

This external material icons lib by SKPoCH is great (thousands of icons) but in a end project we often use only a few icons.
In your Avalonia.Material you also only use a very few of them.

I try to reduce the size of the binaries of my .net 6 Avalonia app (size on the disk but also size i

[2021-12-05 16:23] mjuen opened #128 "ComboBox items not shown with left click on MacOS"
Hello,

when using `Material.Avalonia` on Mac OS the `ComboBox` does not seems to work as expected. Left clicking does not reveal the available `ComboBoxItems`. The items are only shown when right clicking on the box.

Versions:
[code]

I have attached a solution to replicate the problem ([ComboBoxBug.zip](https://github.com/AvaloniaCommunity/Material.Avalonia/files/7656342/ComboBoxBug.zip)).

Ste

[2021-12-05 18:25] SKProCH commented on #128
Hello, @mjuen
Does this reproducible without Material.Avalonia (on default avalonia theme)?
Does this reproducible on other platforms?

[2021-12-05 19:36] mjuen commented on #128
Hi @SKProCH,

it works on MacOS without `Material.Avalonia` and the default Avalonia styles. In Windows it works fine with and without `Material.Avalonia`.

[2021-12-06 09:26] dojo90 commented on #122
I think the problem has nothing to do with the `Material.Avalonia` and I have to solve the problem myself. Thanks for your help 👍

[2021-12-08 10:59] Tenjim opened #129 "ComboBox DropDown Behavior"
Hi guys,

I wanna to know if you have this behavior referenced on Material Design :
[Exposed DropDown Menu](https://material.io/components/menus#exposed-dropdown-menu)

On WPF, I'm using Hint with ComboBox and I have this behavior with different menu status.

Do you have any implementations/workarounds about it ?

Thank in advance.

[2021-12-08 16:52] SKProCH commented on #129
Hello, @Tenjim

I think what this is what you need: https://github.com/AvaloniaCommunity/Material.Avalonia/issues/101#issuecomment-900148274
Does this solve your problem?

[2021-12-08 17:13] Tenjim commented on #129
Hi @SKProCH ,

Not really. I want to have hint when I don't have any value in the combobox and the behavior that replace hint by combox value selected and finaly put hint above.

Like this :

![ComboBoxHint](https://user-images.githubusercontent.com/11456289/145252786-7f20b810-3596-4545-a71e-cd47ea76b382.JPG)

It's  the same behavior in your demo do with TextBox and TextFieldAssist.

[2021-12-09 17:51] SKProCH commented on #129
Hmm, @Tenjim

You can use `PlaceholderText` or `ComboBoxAssist.Label` to set hint what will look like this:
![Animation](https://user-images.githubusercontent.com/29896317/145449272-5a9fddd3-6c5d-4090-ab61-d9a320d69dab.gif)

Is that one what you needed?

[2021-12-10 08:21] Whiletru3 commented on #129
Hi @SKProCH

The ComboBoxAssist is not working in the ComboBox without class.

`                        <ComboBox assist:ComboBoxAssist.Label="ComboBox">
                            <TextBlock Text="Item 1" />
                            <TextBlock Text="Item 2" />
                            <TextBlock Text="Item 3" />
                            <TextBlock Text="Item 4" />

[2021-12-10 09:06] SKProCH commented on #129
Seems like this currently not available.
You can use `Outline` ComboBox style or wait untill i or @appleneko2001 impletent floating hint in regular ComboBoxes. But we don't have much time right now because of work.

[2021-12-15 12:23] appleneko2001 commented on #127
I created an Internal Icon view and integrated some icons to internal icons data set. All those changes are in [this commit](https://github.com/AvaloniaCommunity/Material.Avalonia/commit/d78e76fd24410f79fed5b9c174fe4c274afe652f).

Integration are almost complete, but there something are trying to block our way. Maybe this function is still used by other project that I cant tell, so [I set this fun

[2021-12-20 13:50] flarive commented on #127
Thanks a lot !
I'm going to try :)

[2021-12-20 15:04] flarive opened #131 "May I open navigation drawer from right side ? (fixed issue title)"
Hi guys,

I would like to open the Snackbar host side menu (such as in demo project) on the right side of the screen instead of the left.
Is it possible ?
I can't find any NavigationDrawer.RightDrawerContent, just NavigationDrawer.LeftDrawerContent...

Thanks a lot guys, i love material avalonia :)

[2021-12-21 07:37] appleneko2001 commented on #127
Hi @flarive
I have completed the integration of this. You can get update from nightly source. For now I just need update wiki (Add entry about `FloatingButtonBuilder`).

[2021-12-21 14:07] appleneko2001 commented on #125
Hi @dojo90
Sorry for a long wait!
I found why it happens, and I have [uploaded the solution.](https://github.com/AvaloniaCommunity/Material.Avalonia/commit/ba39cad8e35dfa15594f4b178617d25df4a68fd1) You can get the fix from nightly source, if you need it early.
ProgressBar have been fixed, but other controls are still affected by `Avalonia.Themes.Default` For example, ListBox had a padding, but it

[2021-12-21 14:23] appleneko2001 opened #132 "Compatibility with Avalonia.Themes.Default"
I have found some compatibility issues with official theme `Avalonia.Themes.Default`

For example, we have [a issue from @dojo90 early](https://github.com/AvaloniaCommunity/Material.Avalonia/issues/125), about ProgressBar sizing issue, if your application using our styles with `Avalonia.Themes.Default`. I tried to fix this issue today, and waiting for feedback, but I found another issue that simil

[2021-12-21 16:03] ctrl-alt-d opened #133 "Error after migrating to Avalonia 0.10.11: RunAsync in ControllableAnimationBase does not have an implementation"
After migrating to Avalonia 0.10.11 I get this error **running** the app on Mac OS X (M1) :

Check the source code at this branch: https://github.com/ctrl-alt-d/eaprecull/tree/migratingTo250 (just clone, change branch and run)

I'm looking for a bit of help to fix the issue. **Thanks a lot** (I moved to Avalonia 0.10.11 [to be able to execute app on MAC OS X M1](https://github.com/AvaloniaUI/Avalo

[2021-12-22 06:09] SKProCH commented on #133
Hello, @ctrl-alt-d
This bug has been fixed in nightly builds.
Does this solve your problem?

[2021-12-22 06:16] Maruhl commented on #133
Yes it works for me.

[2021-12-22 07:06] flarive commented on #127
Hi @appleneko2001,

I have tried the latest nightly build 2.5.0.40 but i have an exception here :

![ex1](https://user-images.githubusercontent.com/7724904/147050018-211b632e-a1fc-4873-a065-d994414c52fb.png)

Here is my context :

![ex2](https://user-images.githubusercontent.com/7724904/147050093-af7b9788-bc16-47be-a1b8-687cb8afdb2c.png)
![ex3](https://user-images.githubusercontent.com/7724904/147

[2021-12-22 07:25] ctrl-alt-d commented on #133
Hello @SKProCH ,

it works like a charm 👏 .   Thanks

<img width="1841" alt="Captura de pantalla 2021-12-22 a les 8 23 50" src="https://user-images.githubusercontent.com/3105983/147052275-00345fc0-daea-41ad-9f3c-f5cee2949ea6.png">

[2021-12-22 07:25] #133 closed

[2021-12-22 10:14] dojo90 commented on #125
Thanks for your fix! 👍

I am pleased that the error was found and that it was not due to my project. Nevertheless, it is annoying that we have a fundamental incompatibility when inheriting styles (https://github.com/AvaloniaCommunity/Material.Avalonia/issues/132).

[2021-12-26 11:47] appleneko2001 commented on #127
There I miss one. I have removed the `Material.Icons.Avalonia` reference in index file.
Update your nightly package to look changes for now.

[2021-12-27 17:41] murlokito opened #134 "Version 2.5.0 incompatible with latest Avalonia version"
While attempting to add Material Avalonia to a new project I realized the app was not booting and was throwing an exception.

In order to replicate this, creating a new avalonia project with version 0.10.11 and material 2.5.0 will suffice.

The stack trace:

[code]

[2021-12-27 19:42] SKProCH commented on #134
Hello, @murlokito

This issue has been fixes in nightly builds, try to install latest nightly build. #133

[2021-12-27 20:03] murlokito commented on #134
Can confirm. Didn't see the PR already merged, thanks for the quick reply!

[2021-12-27 21:06] MarioGK opened #135 "ProgressBar Classes not being found"
Hi, i tried using the same code as the Demo app but the Progress Bar is not showing and working correctly, i tried using the latest stable and nightly builds

ProgressBar Code:

![image](https://user-images.githubusercontent.com/8379079/147507045-4fb0d29a-7b64-4b46-87d1-69f9b6a438e9.png)

App.xaml:

![image](https://user-images.githubusercontent.com/8379079/147507216-724bf8ed-b5b4-42a7-94e4-23aaf9

[2021-12-28 13:52] SKProCH commented on #135
Hello, @MarioGK

Can you provide this project (or minimum reproducible example)? We need this this to investigate the problem.

[2022-01-03 07:49] flarive commented on #127
Works very well now !
Thanks a lot

[2022-01-08 16:20] ctrl-alt-d opened #137 "Icons missing upgrading to 2.5.0.44-nightly"
After upgrade from 2.5.0.**43**-nightly **to** 2.5.0.**44**-nightly, icons are missing. What I'm doing wrong?

### Before upgrade (2.5.0.43-nightly):

<img width="1305" alt="screenshot with icons" src="https://user-images.githubusercontent.com/3105983/148651463-c9d9c04b-d941-4ec8-b302-bf0b24c1d8b7.png">

### After upgrade (2.5.0.44-nightly):

<img width="1287" alt="screenshot without icons" src="h

[2022-01-08 18:10] appleneko2001 commented on #137
Hi there!
For now you need add reference `Material.Icons.Avalonia` manually after [icons migration issue (issue #127)](https://github.com/AvaloniaCommunity/Material.Avalonia/issues/127).

[code]

You can visit [Getting started of Material.Icons.Avalonia / Readme](https://github.com/AvaloniaUtils/Material.Icons.Avalonia/blob/master/README.md) if you want know more information about this package.

[2022-01-08 19:36] ctrl-alt-d commented on #137
Wow. Like a charm! Running fine on 2.5.0.49-nightly. Thanks a lot @appleneko2001

[2022-01-08 19:36] #137 closed

[2022-01-13 13:06] tpetruk opened #142 "Context menu item submenu appearing and disappearing in infinite loop"
Steps to Reproduce:

1. Simple `ContextMenu` with 2 levels of menu items, e.g.:
[code]
2. Hover the mouse over a top-level item containing child items, keep it for a couple of seconds.

Actual Result:

A submenu keeps opening and closing in a loop:
https://user-images.githubusercontent.com/93399973/149335063-91430ffe-d780-4ca3-bb9f-e41ff503f202.mp4

Initial Investigation:
The problem seems to be i

[2022-01-13 16:35] #142 closed

[2022-01-18 17:16] CIRCULARKA opened #144 "TextBox.Filled.clearButton issue"
My code: ```<TextBox Classes="Filled clearButton">``` outputs the following after I input some text into control (dark theme):

![image](https://user-images.githubusercontent.com/34581740/149985973-3b1efb1a-40d9-4b1a-9dee-5fa0a0643d8d.png)

Why are there two crosses? Can you fix that? I really want to use this control now

[2022-01-19 19:14] SKProCH commented on #144
Hello, @CIRCULARKA

I can't reproduce this on latest nightly build. Try to install latest nightly build and check if issue still appears there or provide minimal reproduceable example please.

[2022-01-19 20:49] CIRCULARKA commented on #144
Hi. Sorry for not giving more information but I already tried to reproduce the issue in a new project and figured out that it was my fault, I forgot to exclude some styles that was doing all this to me. Thanks for response!

[2022-01-19 20:49] #144 closed

[2022-01-21 12:33] dojo90 opened #145 "How to design MaterialDesign.Sheets: side"
Hello,

I would like to implement the `MaterialDesign.Sheets: side` (https://material.io/components/sheets-side). Have you ever thought about the best way to implement this?

Thank you

[2022-01-24 07:15] dojo90 opened #146 "Set KeyboardNavigation.TabNavigation property to Continue on ItemsPresenter"
I just ran into the following problem (https://github.com/AvaloniaUI/Avalonia/issues/7406) and would like to have the following property set in the custom dialogs as well. Would it be possible to implement this accordingly?

[code]

- https://github.com/AvaloniaCommunity/Material.Avalonia/blob/bfed8aabd5e656be9fea57a4a1c3d4ffcaad7e5d/Material.Dialog/Views/CustomDialog.axaml#L70
- https://github.co

[2022-01-24 14:56] SKProCH commented on #146
Hello, @dojo90

You can create PR, we will merge it. Or you can wait until we implement this ourselves.

[2022-01-25 04:27] appleneko2001 commented on #145
Hi! The side sheet feature is ready for use! For now it supports desktop variant, mobile is planned.
You can use it in nightly build now!

[2022-01-25 08:39] dojo90 commented on #145
Wow! That was fast! I had already started to implement a `SideSheet`, but to be honest I like your solution better.

What do you think about implementing a `Button` to close the SideSheet with an associated property `CanClose`?

The right SideSheet is my implementation with a `Button`.
![grafik](https://user-images.githubusercontent.com/17551597/150941540-c79235a9-219b-4e8e-96ee-cf7ac632d32f.png)

[2022-01-25 08:51] appleneko2001 commented on #145
Thanks for your reply!
I think you can just hide button if you want to implement a "permanent" standard sidesheet
Just bind the `IsVisible` property to `IsEnabled` property itself button

[2022-01-25 11:59] dojo90 commented on #145
Yes, that's what I meant. `CanClose` switches the button visible or not. Since it could be also possible that you do not want to close the side sheet.
But when looking at the documentation (https://material.io/components/sheets-side), there is actually no case in the desktop variant where the button is hidden. Thus, according to the official definition, it should always be visible. But I still thi

[2022-01-26 18:49] #146 closed

[2022-01-29 11:43] appleneko2001 commented on #131
Sorry for a long waits! I was misunderstand the question about when I see this issue for now.
So there we have properties named `SnackbarHorizontalAlignment` and `SnackbarVerticalAlignment`. They used for change where snackbar should appear to.

You could just add tag `SnackbarHorizontalAlignment="Right"` for your case!

![image](https://user-images.githubusercontent.com/38249047/151659595-b2d70f5

[2022-01-29 12:09] appleneko2001 commented on #145
I think sidesheet that able to close is more better and practical too. Sometimes, this view is optional for use but not always. So you need keep it visible.

This is my opinion to answer this question, of course.

[2022-01-31 07:16] flarive commented on #131
Hi,
Sorry i wasn't very clear... I made a confusion between snackbar and menu panel.
I'm was talking about the left side menu panel that appears when you click on the menu icon just before the Material.Avalonia Demo title on your previous screenshot.
I would like to be able to open the side menu at the right of the screen instead of the left.

[2022-01-31 11:54] Tenjim opened #151 "Binding on LeftDrawerWidth hides all content/behavior of NavigationDrawer"
Hi guys,

With your demo, I have tried to bind this property from NavigationDrawer, LeftDrawerWidth to actual Width from the window to display more content.

[code]

When I want to open that NavigationDrawer, the content is hidden on the left and when you enlarge the window's size, this control take the right width but we can't close anymore this NavigationDrawer.

Have you some clues about that ?

[2022-01-31 13:17] appleneko2001 commented on #151
Hi Tenjim
Which Material.Avalonia version you are using now? Is the latest nightly version?
I submitted a lot changes on nightly branch and there was differences between previous stable library.

[2022-01-31 13:56] sabuto opened #152 "Custom dialog view not binding to vm"
Hi,

I am using version 2.5.0.71-nightly

So i have a custom view inheriteted from reactiveusercontrol with a textbox text value bound to Name

i have a viewmodel inherited from viewmodelbase with `[Reactive] public string Name { get; set; }` (I have foddy installed too)

and i create a new custom dialog like so:

[code]

even if i new up the usercontrol and set that to the content and the datacon

[2022-01-31 14:13] Tenjim commented on #151
Hi @appleneko2001

Thank for you answer, I was on the 2.5.0.45-nightly. I just updated and I'll keep you notice if it's resolved :)

[2022-01-31 14:42] Tenjim commented on #151
Thanks, It's resolved on the latest version.

@appleneko2001 , how can we see release note on nightly version to see changes ?

[2022-01-31 15:47] appleneko2001 commented on #151
Hi Tenjim
I'm glad to see the problem was solved! This issue will be closed after next release.

The detail of changes will visible in [commits](https://github.com/AvaloniaCommunity/Material.Avalonia/commits/dev). We didn't wrote any release notes after publish. May I will try to write some release notes I think.

[2022-01-31 15:49] Tenjim commented on #151
Hi  @appleneko2001,

Thanks and noted for commits :)

[2022-01-31 16:05] appleneko2001 commented on #131
Hi flarive
I got ya! You want ask "May I open navigation drawer from right side?"
Of course you can! This feature is available after [commit#a4a2d8c8689ee072d507838e43da29b435f3f996](https://github.com/AvaloniaCommunity/Material.Avalonia/commit/a4a2d8c8689ee072d507838e43da29b435f3f996) (version of package is [2.5.0.70-nightly](https://www.nuget.org/packages/Material.Avalonia/2.5.0.70-nightly)). So

[2022-01-31 20:28] SKProCH opened #153 "Add commit description to nightly packages changelog"
The detail of changes will visible in [commits](https://github.com/AvaloniaCommunity/Material.Avalonia/commits/dev). We didn't wrote any release notes after publish. May I will try to write some release notes I think.

_Originally posted by @appleneko2001 in https://github.com/AvaloniaCommunity/Material.Avalonia/issues/151#issuecomment-1025922770_

[2022-01-31 20:32] SKProCH commented on #153
I think what i need to attach commit message as release notes for nightly packages to clearly see changes

[2022-02-01 07:11] appleneko2001 commented on #153
Could we use GitHub API to fetch commits of repository and create a base of release notes automatically? I still searching a way for archiving this.

[2022-02-01 15:47] flarive commented on #131
Thanks man !
Let me test it and give you my feedback soon :)

[2022-02-01 16:01] flarive commented on #131
Works perfectly ! Thanks !

[2022-02-01 16:42] SKProCH commented on #153
@appleneko2001 Don't waste your time on this. I'll do it myself, it's easy enough.

[2022-02-05 20:16] #145 closed

[2022-02-10 08:25] flarive opened #155 "Modal dialog and background dark overlay"
Hi guys,

When i open a modal dialog (window based), i would like the main window to be grayed with a dark black overlay.
Is it possible right now with Material Avalonia ?
Or is there a way to easily do that ?
It would be very cool to be able to customize the overlay color and opacity.

Here is screenshot showing that i'm talking about (taken from a WPF app).

![akXxW](https://user-images.githubus

[2022-02-10 08:55] SKProCH commented on #155
Hello, @flarive

I think what you need to use DialogHost based overlays to achieve this. But if you need window based dialogs you can do it yourself - place something like `Rectanle` with `Opacity` and set `IsVisible` to `true` before opening dialog, and to `false` after closing dialog.

------

As far as i know current (nightly) Material.Avalonia build is compatible with Avalonia 0.10.12. You can

[2022-02-10 08:56] SKProCH commented on #155
Does this solve your problem?

[2022-02-10 13:29] flarive commented on #155
Yes, thanks !
I'm using window based dialogs (i didn't know you have made a DialogHost.Avalonia).
I just put a rectangle on my MainWindow with IsVisible property binded to a property of my main window view model, and it works like a charm !
Thanks a lot :)

May be you could add this behavior for window based dialogs in Material.Avalonia to avoid users to do that on their side.
It's just a suggesti

[2022-02-10 13:47] SKProCH commented on #155
May be in the future

[2022-02-10 13:47] #155 closed

[2022-02-11 09:21] appleneko2001 commented on #152
Hi @sabuto !
This issue is related on my old coding-style and its so hard to fix. I'll post an issue about this later.

[2022-02-11 09:35] appleneko2001 opened #156 "Issues about Material.Dialog submodule"
In these days I reviewed my Material.Dialog library and I found a lot problem on implementations and coding-style. So I want to remaster those things I created, because fix them is barely possible, but could takes a long time and possibly to break features again. But dont worry! I will take care to not break API. So you guys can keep source code without changes.

Related issues: #152

[2022-02-11 12:49] CIRCULARKA opened #157 "Allow use revealPasswordButton classes in read-only state of TextBox"
Can you make ```revealPasswordButton``` show up even if control is read only?
I want to add readonly ```TextBox``` to my app but do not want users to input anything in it. Also I need functionality of button above because there is must be a secret key inside of TextBox.
My code is:
![image](https://user-images.githubusercontent.com/34581740/153594044-84a2e875-f515-482c-97f7-b863dc9de080.png)

When

[2022-02-11 13:06] appleneko2001 commented on #157
Hi @CIRCULARKA !
I did a little bit changes on TextBox styles. This issue is reasonal for me too. You should be able to use if you use latest nightly package of Material.Avalonia!

Commit: https://github.com/AvaloniaCommunity/Material.Avalonia/commit/fb9541bbbd034daf4d321d42f3b84775736165cd

[2022-02-11 14:10] CIRCULARKA commented on #157
Thats worked, thanks. But there is another question: when I switch back to "hidden" mode I end up with NullReferenceException
It was on *.72 and on *.73 version

[2022-02-11 14:26] SKProCH commented on #157
Hello, @CIRCULARKA

Can you post Exception stacktrace, and any other related data, if possible?
Also you share your project for problem investigation.

[2022-02-11 14:35] CIRCULARKA commented on #157
I'll better give you the whole project. Stack trace of an error in the ```error.txt``` file in the root
https://drive.google.com/drive/folders/13cGDZY4ohdzqwdctNVKb7SA2Z09fvVZx?usp=sharing

[2022-02-11 14:56] appleneko2001 commented on #153
Ok then. Text me if you need ask somethin or any questions about this issue.

[2022-02-12 08:15] CIRCULARKA commented on #157
UPD: Actually error occurs when I click "Show password" button and then leave my cursor from control

[2022-02-12 14:35] appleneko2001 commented on #156
Do not use nightly-package version `2.5.0.74-nightly` or above.
`CustomDialog`, Time and date picker dialog and text field dialog will unavailable until I remaster them.

[2022-02-13 06:23] appleneko2001 commented on #156
`TextFieldDialog` should be usable now.
version: `2.5.0.76-nightly` or above.
commit: https://github.com/AvaloniaCommunity/Material.Avalonia/commit/de36bceb7993c16e66a3f9951cd5c6388995a888

[2022-02-13 14:46] appleneko2001 commented on #152
Hi @sabuto ! I have a request for you.
Can you try the newest CustomDialog for us? I redesigned it since `2.5.0.76-nightly`. I added a property named ContentTemplate. It should be usable for your case. I need some feedback to improve this feature.
But be remember, I have cleaned the old code of TimePicker and DatePicker dialogs. So you have to downgrade to `2.5.0.73-nightly` after test if you are

[2022-02-13 16:53] sabuto commented on #152
I'll setup a new project and test :) will probably be tomorrow or Tuesday :)

[2022-02-14 12:20] sabuto commented on #152
that works for me, awesome thanks

[2022-02-15 02:40] appleneko2001 commented on #152
Hi @sabuto ! Thanks for your contribution too🥳 That news was important for me.

Later we will release 3.0. There will have a API breaks on Theming feature and Dialogs. Styles will be changed by following standard of authoring controls (add root border (used for BorderBrush and BorderThickness property, with element name) and panel (allows more elements on root border, with element name) and etc.)

[2022-02-15 10:12] appleneko2001 commented on #156
`CustomDialog` is shipped with `2.5.0.75-nightly` but untested. Unfortunately I dont have time to test this feature. Thanks sabuto that he accepted my request and give me result of usability `CustomDialog`

For now we only need to remaster `DatePicker` and `TimePicker` and this issue could be closed after 3.0 release.

[2022-03-01 12:17] #152 closed

[2022-03-01 12:17] #151 closed

[2022-03-01 12:18] SKProCH commented on #134
Fixed in release version 3.0.0-rc0 #159

[2022-03-01 12:18] #131 closed

[2022-03-01 12:18] #125 closed

[2022-03-10 19:02] aybe opened #160 "Unable to get the theme working: TargetInvocationException"
I am unable to get the theme working with the latest version of Avalonia.

Tried with the example at https://github.com/AvaloniaCommunity/Material.Avalonia:

[code]

[code]

Tried with the example at https://github.com/AvaloniaCommunity/Material.Avalonia/wiki/Simple-getting-started:

[code]

[code]

Any ideas on what's wrong?

[2022-03-10 21:03] #160 closed, assigned to nobody

[2022-03-15 13:47] dojo90 opened #161 "TimePicker style missing"
Currently I do not see a style for the `TimePicker`. Has this been lost? `DatePicker` works without any problems at this point.

v2.5.0.73-nightly

[2022-03-16 16:05] Al-Dyachkov opened #162 "Setting theme/colors from code is not consistent in rc 3.0"
Steps to reproduce :
Add color changes  to Material.Demo following way
[code]
Run & switch themes several times.
Color & theme are not applying consistently

[2022-03-17 12:41] dojo90 opened #163 "Updating `DialogHost.Avalonia` to v0.4 cause 'Could not load file or assembly exception'"
When updating the `DialogHost.Avalonia` to v0.4 I get a `TargetInvocationException`

[code]

using Material.Avalonia **v2.5.0.73-nightly**

[2022-03-17 13:10] djonasdev opened #164 "Link existing 'DialogHelper.IDialogWindow' logic with the 'DialogHost.Avalonia'"
What is the best way to proceed if you want to link your existing `IDialogWindow` logic with the `DialogHost` (https://github.com/AvaloniaUtils/DialogHost.Avalonia)?

Currently I have implemented all popups or dialogs in my application with the `DialogHelper` class.

Since my application is designed as a desktop application and also as a "Kiosk app" on the Raspberry pi, I would like to find a solu

[2022-03-19 11:33] SKProCH commented on #163
Hello, @dojo90

This is fixed in version `3.0.0-rc0.85-nightly`.
I will leave the issue open until the next release.

[2022-03-19 11:35] SKProCH commented on #164
@appleneko2001 can you take a look?

[2022-03-19 15:11] SKProCH commented on #162
Hello, @Al-Dyachkov

I tried to reproduce it but couldn't:
![Animation](https://user-images.githubusercontent.com/29896317/159126525-0c84f1d8-9210-490d-bbae-d8c742cb5a7e.gif)
As a result, the state from the last click is always applied.

Intermediate values ​​do not always change, yes. This is due to the fact that in fact the change theme operation is quite resource intensive and is done by many c

[2022-03-19 15:55] Al-Dyachkov commented on #162
This is how it works for me, built from latest master commit (a6459717adc74f26fb18bb5b46657aa92ae65953)
Recorded on Windows 10, tested on Linux as well.
https://user-images.githubusercontent.com/10960735/159128243-136081e4-2752-45e3-b496-fabfbdf3b56d.mp4

[2022-03-19 16:31] Al-Dyachkov commented on #162
I've tested simple method to change all parameters at once.
It seems to fix this issue with changing multiple parameters at once.
I can add parameter validation & make a PR.

[code]

[2022-03-20 10:19] SKProCH commented on #162
Your code does not include properties update.
Ill try to write more accurate fix.

[2022-03-20 10:46] Al-Dyachkov commented on #162
Well, OK. This was a quick fix, after all.
While you are on it :

private bool _isBaseThemePropertyApplied;
private bool _isPrimaryColorPropertyApplied;
private bool _isSecondaryColorPropertyApplied;

these fields are only set to true and never reset. Maybe they were meant to be local variables ?

[2022-03-20 10:56] SKProCH commented on #162
This is a workaround for a initial values. When Avalonia create instance of MaterialTheme `OnPropertyChanged` will be called 3 times (for setting initial value for `BaseThemeProperty`, `PrimaryColorProperty` and `SecondaryColorProperty`). This properties will prevent calling theme change 3 times.

[2022-03-20 11:05] SKProCH commented on #162
@Al-Dyachkov can you try code from #165? Seems like this fixed problem for me.
Also, this is an draft, if the fix works, then I will complete the changes in the future

[2022-03-20 11:26] Al-Dyachkov commented on #162
Yep, throttling works.

[2022-03-20 14:04] appleneko2001 commented on #164
Well I break the support because I moved templates to window styles
It should be marked as bug not enhancement
It was worked before

[2022-04-17 14:07] appleneko2001 commented on #157
Hi @CIRCULARKA ! Sorry for 2 months waiting:(

I downloaded your reproduce sample and updated to more recent version, but it works fine and no exception thrown. Looks like this issue is solved already.

Version of AvaloniaUI: 0.10.11
Material.Avalonia: 3.0.0-rc0

![Анимация](https://user-images.githubusercontent.com/38249047/163717954-cce28a0a-f3ee-408b-b7c4-bef86fa5bc8a.gif)

Might you try again

[2022-04-18 10:10] CIRCULARKA commented on #157
Hi, thanks for the answer. Yes, my problem actually gone, and I still don't why it ocurred, might be something with my windows manager or idk

[2022-04-18 10:10] #157 closed

[2022-04-18 11:14] appleneko2001 commented on #157
Actually I added `bug` tag when I saw this problem. I have no idea how it occur. Might be something odd on our library and I fixed it without intension

[2022-04-23 22:10] Al-Dyachkov opened #166 "Add validation support to ComboBox"
It would be handy to provide user feedback when combo box value is required, with the appearance similar to TextBox one

![image](https://user-images.githubusercontent.com/10960735/164947396-c789672a-9284-4a83-a092-5d5932ef5f76.png)

[2022-04-23 22:18] Al-Dyachkov opened #167 "When hint is not set, vertical spacing changes when there are no validation errors"
Same card with validation errors and with no validation errors.

![image](https://user-images.githubusercontent.com/10960735/164947764-dc93e7b9-93f4-4311-bb7d-80cade24dc08.png)

Can be worked around with setting single space as hint when it's not required, but I'd rather had that space reserved for validation errors automatically.

[code]

[2022-04-24 14:50] SKProCH commented on #167
Hello, @Al-Dyachkov
As far as I remember, the long error text will be divided into several lines if necessary. We can reserve the height, but you will still need more space in the case of long errors. Does this make sense?

[2022-04-24 15:16] Al-Dyachkov commented on #167
Yes, it does. I'm ok with explicitly adding space for long errors.

[2022-05-09 14:17] SKProCH opened #168 "InvalidCastException when opening dialogs in demo"
When i try to open any of the dialogs in our demo i get following exception:
[code]
![image](https://user-images.githubusercontent.com/29896317/167429673-055e0c0d-4319-461f-a7e0-1a38cc03ce28.png)

Reproducible in 633a075c, latest dev commit

[2022-05-23 07:47] OaimIsGnay opened #169 "How long will it take to develop the drawer function"
like this

<materialDesign:DrawerHost.Style>
                    <Style TargetType="materialDesign:DrawerHost" BasedOn="{StaticResource {x:Type materialDesign:DrawerHost}}">
                        <Style.Triggers>
                            <DataTrigger Binding="{Binding IsChecked, ElementName=BackgroundToggle}" Value="True">
                                <Setter Property="OverlayBackground" V

[2022-05-24 08:05] SKProCH commented on #169
Hello, @OaimIsGnay
If you mean DrawerHost from MaterialDesignInXaml, I think it's about a day or two of work. But my estimate may not be entirely accurate

[2022-05-24 08:20] OaimIsGnay commented on #169
Hi,Thank you for your reply.
I'm not in a hurry. I'm just asking if I have this idea.

[2022-05-24 08:20] #169 closed

[2022-05-25 15:36] teocomi opened #170 "How to apply a new theme using the MaterialThemeBase"
Hey there, I'm updating my code from using the old `PaletteHelper` to the new `MaterialTheme` but cannot find a way to update the current theme.
I simply want to toggle between dark/light, everything worked as expected previously...

My App.xaml:
[code]

My OnFrameworkInitializationCompleted:
[code]

My toggle theme code:
[code]

[2022-05-28 09:54] SKProCH commented on #170
Hello, @teocomi
Sorry for the long wait for an answer

`materialTheme.CurrentTheme` is a property that generates a new theme object for you each time, so that users cannot change the internal theme from the outside (since changing the theme will not change the styles). So when you do `materialTheme.CurrentTheme.SetBaseTheme(Theme.Dark);` you change an object that has nothing to do with what's insi

[2022-05-28 18:06] teocomi commented on #170
Hey @SKProCH thanks for your support! I just tried unfortunately this doesn't seem to work either.
I can put together a quick sample app if that helps...

And thanks for the great library!

[2022-05-28 18:44] SKProCH commented on #170
@teocomi
Yes, I think it would make it easier to find the problem if you gave me an sample app. Or you can just share link to the actual one.

[2022-06-01 20:28] SKProCH commented on #170
Hello, @teocomi

I took a look at your project. Apparently this problem was fixed in the nightly builds. At least with `3.0.0-rc0.90-nightly` everything works.

I hope that soon I will have enough time to post a stable rc, in the meantime, use the nightly build.

[2022-06-02 11:24] teocomi commented on #170
It does indeed work! Sorry for opening a non-issue & thanks for checking 💥

[2022-06-02 11:24] #170 closed

[2022-06-02 22:11] appleneko2001 commented on #168
Hi!
This issue is fixed in 3.0 major update branch.
Unfortunately I didnt configured CI package build for it. Download repository and build the project is required to try the update.

[2022-06-02 22:21] appleneko2001 commented on #161
Hi! @dojo90
I'm planning to update the dialog package. Please use older package, if you need TimePicker at this moment.
The new TimePicker and DatePicker style will be available in 3.0 stable release

[2022-06-02 22:26] appleneko2001 commented on #135
Hi! @MarioGK
In the past of half years we didnt received your glitch reproduce example, and there was a lot of changes of our library. You can try to reproduce it with 3.0.0-rc nightly package and send us feedback here! We might to close this issue by inactivity if we didnt receive your feedback within June 2022.
Thanks!

[2022-06-08 12:04] jamsoft commented on #128
I'm just using the FluentTheme and I cannot get any ComboBox dropdown to appear at all on OSX.

Left, middle or right clicking.

[2022-06-24 11:28] Al-Dyachkov opened #172 "Balloon tooltip does not follow slider all the way"
Avalonia : 0.10.15
MaterialAvalonia : 3.0.0-rc0.90-nightly

video showing behavior :

https://user-images.githubusercontent.com/10960735/175524989-d8631285-ab42-4a49-9983-0215106de935.mp4

xaml :

[code]

[2022-06-29 09:49] flarive opened #174 "Tooltip not working when used on Slider control"
Hi,

My project is using latest version of Material Avalonia (2.5.1) and latest version of Avalonia (0.10.15)
If add a tooltip on a Slider control themed by Material Avalonia, the tooltip is showing but without any text inside.

To reproduce the issue, you can for exemple, in SliderDemo.xaml, add a tooltip tip on the first slider :
<Slider ToolTip.Tip="aaaaaaaaaa" />

The result is shown by the sc

[2022-07-02 13:54] #174 closed

[2022-07-02 13:57] SKProCH commented on #174
Hello, @flarive

This problem is caused by the fact that we had special styles for the demo app and the slider page. These styles allowed you to associate a slider value with a text block to display that value.

In idea this error can't be reproduced in normal applications. If it does reproduce - check your styles that modify TextBlock.

The error is fixed in the demo.

[2022-07-02 14:02] flarive commented on #174
Works perfectly !
Thanks a lot !!!

[2022-07-02 14:04] SKProCH commented on #172
Hello, @Al-Dyachkov

I can't reproduce this bug. Please, provide an reproduceable example or give additional info about it.
![b00c374a-6f25-4cef-91dc-4522efff63b8](https://user-images.githubusercontent.com/29896317/177004056-a8dbc6ff-30f6-4d3a-98bc-bb3d798c10fb.gif)

[2022-07-02 17:47] Al-Dyachkov commented on #172
https://github.com/Al-Dyachkov/err_172

This is bare minimum example. content control is actually used to display a set of pages with settings.

[2022-07-02 19:10] SKProCH commented on #172
@Al-Dyachkov

Seems like this is an a bug in AutoCorrectPositionConverter. You can paste this style in your app to temporary disable it, until we manage to fix this problem:
[code]

[2022-07-02 23:29] ctrl-alt-d opened #176 "Collapse navigation main page button not visible"
After migrating to 3.0.0-rc0.92-nightly, the collapse navigation button is not visible. When the mouse is over, the button appears:

With cursor over button:

<img width="780" alt="image" src="https://user-images.githubusercontent.com/3105983/177018838-810a5fe1-b4c9-4cb1-9584-0dbb6a53e332.png">

Without cursor over button:

<img width="775" alt="image" src="https://user-images.githubusercontent.co

[2022-07-03 09:35] SKProCH commented on #176
Hello, @ctrl-alt-d

Remove `ConstantForeground ImplicitForeground` classes from you ToggleButton

[2022-07-03 10:04] ctrl-alt-d commented on #176
Hi @SKProCH ,

thanks!! Like a charm! <3

[2022-07-03 10:04] #176 closed

[2022-07-03 13:27] appleneko2001 commented on #172
Hi @Al-Dyachkov!

I have found a clue related with this issue on my `AutoCorrectPositionConverter`. The TransformedBounds provided a wrong bounds of clipping area and its able to fix, if I know the other way to get bounds of window directly without a bunch objects.
The fix will be applied on 3.0.0 release PR lately and I will tag this issue as fixed in 3.0 release.

Thanks for reporting issue!

[2022-07-04 09:56] appleneko2001 commented on #172
Hi @Al-Dyachkov!

I pushed a fix for this issue, please update to latest package from `dev-branch`!
![](https://user-images.githubusercontent.com/38249047/177130972-bdc08cee-3001-42e8-864b-c9a364df01a9.gif)

anything wrong or good news please come back and leave a comment here!

[2022-07-04 14:52] Al-Dyachkov commented on #172
@appleneko2001, the issue is fixed, thank you.

[2022-07-04 15:01] appleneko2001 commented on #172
Happy to hear that, but I do recommend you keep this issue as open until the newer version is published in next time. I will mark this issue as solved in dev-branch btw

[2022-07-11 05:05] appleneko2001 commented on #167
Hi @Al-Dyachkov !

I could provide a style patch for you, just simply add this to your `App.Styles` section in your App.axaml

[code]
this patch supports only before 3.0 version, library is allow use styles to change their controls look. I might want add this thing as example to wiki

![image](https://user-images.githubusercontent.com/38249047/178192260-5100dcee-987d-44e4-a85c-d259bbc03c4b.png)
![

[2022-07-30 11:04] PerfectlyFineCode opened #179 "Documentation needs update"
Documentation needs updating

[code]
is not available anymore.
[code]
However is available, but there's no documentation on how to use it.

[2022-07-30 11:13] SKProCH commented on #179
Hello, @PerfectlyFineCode

`MaterialTheme` available in a pre release version - 3.0.0 and nightly builds.
`BundledTheme` described [here](https://github.com/AvaloniaCommunity/Material.Avalonia/wiki/Simple-getting-started):
![image](https://user-images.githubusercontent.com/29896317/181908334-d135b211-cd8e-44c3-9d53-5a9de0f9ded6.png)

But docs really need some changes, yep.

[2022-07-30 13:33] SKProCH commented on #179
I rewrote `Getting started` page, it looks better now.

[2022-07-30 13:33] #179 closed

[2022-08-09 03:27] vector-man commented on #160
Did you ever find a solution? I'm having this issue.

[2022-08-09 06:52] aybe commented on #160
Nope, sorry.

[2022-08-09 11:06] SKProCH commented on #160
Hello, @vector-man @aybe

If you want to use `MaterialTheme` you need to install 3.0.0-rc0 version of `Material.Avalonia` (or nightly builds).

As for the `TargetInvocationException`, to use `Material.Avalonia` with the latest versions of Avalonia, you must install at least version 2.5.1 (or higher)

[2022-08-22 08:27] Whiletru3 opened #180 "Compatibility with Avalonia 11.0"
Hi,

Is there a plan to get a version compatible with Avalonia 11.0 Preview1 ?
I tried but I'm facing issues (like missing references of Avalonia.Layout).

Thanks

[2022-08-22 09:49] SKProCH commented on #180
Hello, we are working on it

[2022-09-27 08:49] SKProCH commented on #168
Fixed in `3.0.0-avalonia10-preview2`

[2022-09-27 08:49] #168 closed

[2022-09-27 08:50] SKProCH commented on #163
Fixed in `3.0.0-avalonia10-preview2`

[2022-09-27 08:50] #163 closed

[2022-09-27 08:51] SKProCH commented on #162
Fixed in `3.0.0-avalonia10-preview2`

[2022-09-27 08:51] #162 closed

[2022-09-27 08:51] #135 closed

[2022-09-27 08:52] SKProCH commented on #127
Fixed in `3.0.0-avalonia10-preview1`

[2022-09-27 08:52] #127 closed

[2022-10-12 14:12] emmauss opened #183 "Support for Material3 styles"
Is support for Material3 styles planned.

[2022-10-12 19:28] SKProCH commented on #183
Hello, @emmauss

Not planned yet, due to lack of developer time to support what we have. Perhaps in the future, or if someone wants to implement it themselves and send a PR/help in some other way.

[2022-10-12 21:40] SKProCH commented on #180
Hello, @Whiletru3

I just published [3.0.0-avalonia11-preview2](https://www.nuget.org/packages/Material.Avalonia/3.0.0-avalonia11-preview2) version, you can give it a try.
But we are not sure that all functions work properly, there may be bugs. If you find anything, open issue.
We do not have enough time now to deal with the project, but we try to find it. PR is also warmly welcomed.

[2022-10-13 14:01] EricZeiberg opened #184 "ProgressBar ShowProgressText has no effect"
Not sure if this is a bug or the feature is simply not implemented yet, but setting the property `ShowProgressText="true"` has no effect on the ProgressBar.

[2022-10-13 17:48] SKProCH commented on #184
Hello, @EricZeiberg

Yep, seems like this is an some kind of new Avalonia feature.
For now, I don't know how to implement this within the Material.Design concept, but I'll think about it. If you have any ideas, I'd love to read them.

[2022-10-17 18:15] EricZeiberg commented on #184
You could do something like Bootstrap does where the text is inside of the bar: https://getbootstrap.com/docs/4.0/components/progress/#labels

[2022-10-17 20:02] SKProCH commented on #184
The problem is [Material Design guidelines](https://material.io/components/progress-indicators#usage) tells up, what we should do progressbar small in terms of height.
![image](https://user-images.githubusercontent.com/29896317/196271557-35e57890-fc7b-4d31-a1c4-134c17984d6c.png)
I think what we can add text inside circular ProgressBar, and make taller version of regular.

[2022-10-18 12:25] EricZeiberg opened #185 "CornerRadius on ProgressBar"
Not sure if this is an intended non-support, or an issue, but applying the `CornerRadius` property on a ProgressBar has no effect. Is there a way to override the component style and set this property?

[2022-10-18 14:06] EricZeiberg commented on #185
Figured it out:
[code]

[2022-10-18 14:06] #185 closed

[2022-10-19 12:55] jsimjolner opened #186 "TextBox.FontSize does not do anything"
Setting the FontSize of a TextBox does not change anything.

[2022-10-21 17:06] danwalmsley opened #187 "Flickering looping ripple bug"
https://user-images.githubusercontent.com/4672627/197250574-dbc734d6-de38-4911-a168-9d307310f86b.mp4

repro here:

https://github.com/AvaloniaUI/Calc

[2022-10-23 15:31] SKProCH commented on #186
It's actually change the text size, but no more. I think what is a bug

[2022-10-27 11:16] JanTamis commented on #183
i'm willing to help. shall i wait till version 3.0 is released?

[2022-10-27 16:42] EricZeiberg opened #190 "CreateCustomDialog Result"
Is there a way to close and return a result from a `UserControl` object that is being opened via `DialogHelper.CreateCustomDialog()`? I don't see any documentation on this

[2022-10-27 18:19] SKProCH commented on #190
@appleneko2001 can you help?

[2022-10-27 18:24] SKProCH commented on #187
Seems like this is an Avalonia bug, and fixed now (in nightly Avalonia at least). Closing.

P.S. Also here is bug, where on mobile ripple remains pressed, I'll try to fix that.

[2022-10-27 18:39] JanTamis commented on #183
perhaps it is smarter if I help with the 3.0 version and then begin on material 3. how can I help without conflicting with the existing pull request?

[2022-10-28 11:49] kilinnik opened #191 "TextBox for passwords doesn't display correctly"
In avalonia 11 preview 2 the icon for showing/hiding text isn't displayed

[2022-10-28 15:48] appleneko2001 commented on #190
Hi @EricZeiberg !
You can get your own result from your view model that provided while in dialog creation.
The custom dialog will return clicked button result string only. It means the dialog is just a wrapper to let your own control living in a window with dialog behaviours.
For example:
[code]
another way: Use your own `DataTemplate` resource that uses your view model and pass them in `CreateCus

[2022-10-29 12:14] SKProCH commented on #183
I think you just need to start your work with the 3.0_major_changes branch as this branch contains all necessary things for 3.0.
Currently we have a dev branch, which aims at 3.0-avalonia10 and 3.0_major_changes which aims at 3.0-avalonia11 (and will be a 3.0 stable release in the future). So, if you want to contribute something, what can be done in Avalonia 10 - use dev, otherwise - 3.0_major_cha

[2022-10-31 12:33] EricZeiberg commented on #190
Is there not a way to pass my own data back from the custom dialog to the main window?

[2022-10-31 14:55] appleneko2001 commented on #190
well at this moment you can get your own results through your view model only
I doubt the answer is no if you ask (
but I dont sure how long those ways will be on there, everything might be changed over and over time.
I might change those crap if the new way and designs was the good approach to make it better.

[2022-11-03 08:07] JanTamis commented on #183
ill will take a look at what I can do

[2022-11-11 06:55] sebijogi opened #192 "Touch support for DataGrid is missing in Style"
Hi, I had a problem with touch support for the DataGrid.
I found out  that a DataGridRowsPresenter.GestureRecognizers is missing.

[code]

[2022-11-17 09:16] ApaulMyLittleAirport opened #193 "FloatingButton Rendering errors"
![image](https://user-images.githubusercontent.com/45100828/202404983-b731f966-2ebf-4c02-957d-ad1d8e02c723.png)
3.0.0-avalonia11-preview2.121-nightly
11.0.0-preview4
When the mouse is moved over the button, a translucent right Angle appears

[2022-11-19 16:44] Mrxx99 opened #195 "Circular Progressbar not working"
Since nuget package 3.0.0-avalonia11-preview2.119-nightly and up, setting the class "circular" on a ProgressBar does nothing and it still is displayed linear. Since it works in the demo app on latest dev I guess it is fixed there. Could you please release a new nightly package?

I can't downgrade because I am using Snackbar with buttons which is not supported in earlier versions.
I know nightlys a

[2022-11-19 19:01] SKProCH commented on #195
Hhm, this is kinda strange. Demo has the latest version of nightly package already (since the nightly was build on top of each commit to dev/3.0 branch)

[2022-11-25 19:46] SKProCH commented on #195
Hello, @Mrxx99

Seems like you need to add
[code]
to your `Styles` section in App.axaml file.

May be we make it included by default in future.

[2022-11-25 19:46] #195 closed

[2022-11-26 22:05] SKProCH commented on #193
Hello, @ApaulMyLittleAirport

Seems like this is an Avalonia bug (https://t.me/Avalonia/43002) and be fixed in a new avalonia preview
You can fix it by disabling Compositor in your Program.cs:
[code]

Or you can manually override the style to fix it:
[code]

[2022-11-28 11:15] ApaulMyLittleAirport commented on #193
Thank you very much for taking time out of your busy schedule to answer my questions! Very useful!

[2022-11-28 11:15] #193 closed

[2022-11-30 19:41] SKProCH commented on #195
Also, implemented by default in `3.0.0-avalonia11-preview2.124-nightly`

[2022-11-30 19:42] SKProCH commented on #191
Hello, @kilinnik

Fixed in `3.0.0-avalonia11-preview2.124-nightly`